{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Об акции{% endblock %}

{% block body %}
  <main class="container-fluid main-content">
    <div class="row">
      <div class="col-md-10 col-lg-12 text-center">
        <div class="md-header brown up about-header">
          Об акции
        </div>
        <div class="sm-header brown up">
          Количество долек ограниченно!*
        </div>
        <div class="md-header brown up">
          Торопись!
        </div>
        <div class="person-block person-block-1 hidden-xs hidden-sm"></div>

      </div>
      <div class="col-md-1 visible-md"></div>
      <div class="col-md-13 col-lg-12">
        <div class="step-item brown">
          <div class="step-header up">Пей сок</div>
          <div class="step-body-image" style="background-image: url({{ asset('images/s1.png') }})"></div>
          <div class="step-body">
            Этой осенью с 28 августа по 05 ноября 2017 года покупай соки и нектары  «J7», <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">«J7 Тонус»</span>, 
            <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">«J7 Frutz»</span>, <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">«J7 Фрукты Целиком»</span>,
            «Любимый», <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">«Фруктовый сад»</span> и «Я»
          </div>
        </div>
        <div class="step-item brown">
          <div class="step-header up">Получай дольки</div>
          <div class="step-body-image" style="background-image: url({{ asset('images/s2.png') }})"></div>
          <div class="step-body">
            Пройди регистрацию на сайте и загружай чеки.
            Получи виртуальную дольку за каждые 100 рублей в чеке.
          </div>
        </div>
        <div class="step-item brown">
          <div class="step-header up">Следи за курсом</div>
          <div class="step-body-image" style="background-image: url({{ asset('images/s3.png') }})"></div>
          <div class="step-body">
            Смотри курс дольки на сайте. Рассчитывается он очень просто: <br>
            <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">1 000 000</span> делим на все дольки, выданные участникам с понедельника.<br> <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">10 000 000</span> за 10 недель!
          </div>
        </div>
        <div class="step-item brown">
          <div class="step-header up">Копи дольки</div>
          <div class="step-body-image" style="background-image: url({{ asset('images/s4.png') }})"></div>
          <div class="step-body">
            Чем больше долек соберешь, тем больше от <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">10 000 000 рублей</span>
            получишь! Участвуй каждую неделю и получи свою дольку от <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">10 000 000!</span>
          </div>
        </div>
        <div class="step-item brown">
          <div class="step-header up">Получай деньги</div>
          <div class="step-body-image" style="background-image: url({{ asset('images/s5.png') }})"></div>
          <div class="step-body">
            Каждый понедельник в 23:59 мы делим <span style="white-space: nowrap; display: inline-block; font-family: 'IntroBook' , sans-serif;">1 000 000</span> рублей поровну между всеми дольками, полученными за неделю всеми участниками
            акции. А получить на руки свои деньги ты сможешь в конце акции по результатам всех 10 недель.
          </div>
        </div>
        <div class="upload-block row text-center">
          <div class="col-sm-12">
            <a href="" class='button-orng' data-toggle="modal" data-target="{{ action }}" data-curse="AfterCheck">
              <span class='button-orng-pre trs'></span>
              <span class='button-orng-post'>Загрузить чек</span>
            </a>
            <a href="{{ asset('files/Правила акции.pdf') }}" class='xs-header brown up underline rules-link'>Полные правила акции</a>
          </div>
          <div class="col-sm-12">
            <div class='sm-header brown up'>
              Не раздумывай! <br>
              Пей сок и богатей! <br>
              Удачи!
            </div>
          </div>
        </div>

        <div class="info-list-wrapper brown">
          <div class="xs-header up">Это не помешает знать</div>
          <ul class='info-list'>
            <li>- За неделю мы выдаем не больше 33 333 долек.</li>
            <li>- Стоимость дольки никогда не опустится ниже 30 рублей.</li>
            <li>- Твой гарантированный приз = количеству твоих долек * 30 рублей.</li>
            <li>- Ты можешь зарегистрировать не больше 100 долек в неделю. </li>
            <li>- В одном чеке – не более 2 000 рублей на продукты-участники Акции.</li>
          </ul>
        </div>
        <div class="person-block1-sm"></div>
      </div>
    </div>
  </main>
{% endblock %}