<!DOCTYPE html>

<html>
<head>

  <title></title>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('css/intro.css') }}">
  <link rel="stylesheet" href="{{ asset('css/index1.css') }}">
  <link rel="stylesheet" href="{{ asset('css/cabinet.css') }}">
</head>
<body>

<div class="full-screen container-mp pl-bg">
  <div class="pl-wrap vm up">
    <img src="{{ asset('images/a1.png') }}" class='pl-image-a pl-image-a1 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a2.png') }}" class='pl-image-a pl-image-a2 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a3.png') }}" class='pl-image-a pl-image-a3 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a4.png') }}" class='pl-image-a pl-image-a4 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a5.png') }}" class='pl-image-a pl-image-a5 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a6.png') }}" class='pl-image-a pl-image-a6 hidden-xs hidden-sm' alt="">
    <img src="{{ asset('images/a7.png') }}" class='pl-image-a pl-image-a1 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/a8.png') }}" class='pl-image-a pl-image-a2 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/a9.png') }}" class='pl-image-a pl-image-a3 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/a10.png') }}" class='pl-image-a pl-image-a4 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/a11.png') }}" class='pl-image-a pl-image-a5 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/a12.png') }}" class='pl-image-a pl-image-a6 visible-xs visible-sm' alt="">
    <img src="{{ asset('images/pl-img-lg.png') }}" alt="">
    <div class="pl-text-lg"></div>
    <div class="pl-header">Внутренняя ошибка сервера</div>
    <div class="pl-text-lg">&nbsp;</div>
    <a href="/" class="pl-link" target="_blank">Вернуться на главную</a>
  </div>
</div>
<script>
  document.getElementsByClassName('full-screen')[0].onclick = function () {
    window.location='/';
  };
</script>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46104132 = new Ya.Metrika({ id:46104132, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46104132" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
