{% minifyhtml %}
<!DOCTYPE html>
{% set show = app.request.query.get("show") %}
{% set action =  banned_listener.getAction() %}
<html>
<head>
  <meta charset="UTF-8"/>


  <title>{% block title %}Возьми свою дольку!{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

  <meta name="viewport" content="width=device-width">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">

    <style>
      .revizor__x-line.revizor__x-line_right.revizor__x-btn-line-style::before {
        content: "x";
        color: #FFF;
      }

      ul {
        list-style: none;
      }

      ul > li {
        display: inline-block;
        padding: 10px;
      }
    </style>
  {% endblock %}
</head>
<body>
<div class="container">
  <header>
    <div>
      <ul>
        {% set route = app.request.attributes.get('_route') %}
        <li>
          <a href="{{ path('index_page') }}" class='{{ route == 'index_page' ? 'active' }}'>
            Главная
          </a>
        </li>
        <li>
          <a href="{{ path('about_page') }}" class='{{ route == 'about_page' ? 'active' }}'>
            Об акции
          </a>
        </li>
        <li>
          <a href="{{ path('faq_page') }}" class='{{ route == 'faq_page' ? 'active' }}'>
            Вопрос - ответ
          </a>
        </li>
        <li>
          <a href="{{ path('feedback_page') }}" class='{{ route == 'feedback_page' ? 'active' }}'>
            Обратная связь
          </a>
        </li>
        <li>
          <a href="{{ path('product_page') }}" class='{{ route == 'product_page' ? 'active' }}'>
            Продукты
          </a>
        </li>

        {% if(is_granted('ROLE_USER')) %}
          <li>
            <a href="{{ path('personal_page') }}">
              Личный кабинет
            </a>
          </li>
          <li>
            <a href="{{ path('logout') }}">
              Выход
            </a>
          </li>
        {% else %}

          <li>
            <a href="{{ path('login') }}">
              Вход
            </a>
          </li>
          <li>
            <a href="{{ path('registration_page') }}">
              Регистрация
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </header>
  <hr>

  {% block body %}{% endblock %}

  <hr>
  <footer>
    Footer
  </footer>
</div>
<!-- begin modals -->
{% block modals %}

{% endblock %}
<!-- end modals -->
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-2.0.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/moment-with-locales.js') }}"></script>

  <!-- GLOBAL SCRIPTS -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    function Ru(obj) {
      obj.value = obj.value.replace(/[^а-яё\-]/ig, '');
    }

    function _calculateAge(birthday) { // birthday is a date
      console.log(birthday);
      var ageDifMs = Date.now() - birthday.getTime();
      var ageDate = new Date(ageDifMs); // miliseconds from epoch
      return Math.abs(ageDate.getUTCFullYear() - 1970);
    }
  </script>


{% endblock %}
</body>
</html>
{% endminifyhtml %}