{# form_div_layout.html.twig prizeApplication#}

{% block form_widget_simple %}
  {% set type = type|default('text') %}
  <input type="{{ type }}"
         name="{{ full_name }}" {{ name }} {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}

{%- block form_row -%}
  {% if block_prefixes.1 == 'recaptcha' %}
    <div class="form-block">
      <div class="captcha-wrap">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha g-recaptcha__small" data-sitekey="{{ form.vars.value }}"></div>
        <div class="form__text-error">
          {{- form_errors(form) -}}
        </div>
      </div>
    </div>
  {% elseif block_prefixes.1 == 'checkbox' %}
    <div class="media-checkbox">
      <div class="checkbox-wrap">
        <input id="{{ form.vars.id }}" type="checkbox" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}">
        <span></span>
      </div>
      <div class="checkbox-title" for="{{ form.vars.id }}">
        {{ form.vars.label }}
      </div>
      <div class="form__text-error">
        {{- form_errors(form) -}}
      </div>
    </div>
  {% elseif block_prefixes.1 == 'choice' and expanded == true %}
    {{- form_widget(form) -}}
  {% elseif block_prefixes.1 == 'submit' %}
    {#<div>#}
    {#{{- form_label(form) -}}#}
    <div class="form__box form__box_button">
      {{- form_widget(form) -}}
      <button class="button" type="submit"><span class="button__text">{{ form.vars.label }}</span></button>
    </div>

    {#</div>#}
  {% else %}
    <div class="form-block">
      {% set classes = '' %}
      {% if form.vars.attr['class'] is defined %}
        {% set classes = form.vars.attr['class'] ~ ' ' ~ classes %}
      {% endif %}
      <label for="{{ form.vars.id }}">{{ form.vars.label }}</label>
      {{- form_widget(form, { 'attr': {'class': classes} }) -}}
      <div class="form__text-error">
        {{- form_errors(form) -}}
      </div>
    </div>
  {% endif %}
{%- endblock form_row -%}

{%- block choice_widget_expanded -%}
  <div class="form-block">
    <label for="">{{ form.vars.label }}</label>
    {%- for child in form %}
      <div class="checkbox-wrap">

        <input id="{{ child.vars.id }}" type="radio" value="{{ child.vars.value }}" name="{{ child.vars.full_name }}">
        <span></span>
      </div>
      <div class="checkbox-title">{{ child.vars.label|nl2br }}</div>
    {% endfor -%}
    <div class="form__text-error">
      {{- form_errors(form) -}}
    </div>
  </div>
{%- endblock choice_widget_expanded -%}