{#{% minifyhtml %}#}
<!DOCTYPE html>
{% set show = app.request.query.get("show") %}
{% set action =  banned_listener.getAction() %}
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Узнай вкус наслаждения{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
  {% endblock %}
</head>
<body>
{% set route = app.request.attributes.get('_route') %}
<div class="page">
  <header class="header" id="header">
    <div class="header__wrapper clearfix">
      <div class="header__menu-wrap">
        <div class="main-menu-wrap clearfix">
          <div class="mobile-menu-btn" id="menuButton"><span></span></div>
          <ul class="main-menu" id="mainMenu">
            <li class="main-menu__item {{ route == 'index_page' ? 'active' }}"><a class="main-menu__link" href="{{ path('index_page') }}">Об акции</a>
            </li>
            <li class="main-menu__item {{ route == 'prizes_page' ? 'active' }}"><a class="main-menu__link" href="{{ path('prizes_page') }}">Призы</a>
            </li>
            <li class="main-menu__item {{ route == 'winnners_page' ? 'active' }}"><a class="main-menu__link" href="{{ path('winnners_page') }}">Победители</a>
            </li>
            <li class="main-menu__item {{ route == 'feedback_page' ? 'active' }}"><a class="main-menu__link" href="{{ path('feedback_page') }}">FAQ</a>
            </li>
            <li class="main-menu__item {{ route == 'login' ? 'active' }}"><a class="main-menu__link" href="{{ path('login') }}">Вход</a>
            </li>
            <li class="main-menu__item main-menu__item_img">
              <a class="main-menu__link" href="{{ path('metro_redirect') }}">
                <img class="main-menu__img" src="{{ asset('images/metro-menu.png') }}" alt="Metro">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__logo">
        <a href="{{ path('index_page') }}">
          <img class="header__logo-img" src="{{ asset('images/logo.png') }}" alt="Узнай вкус наслаждения">
        </a>
      </div>
    </div>
  </header>
  {% block body %}{% endblock %}
  <footer class="footer" id="footer">
    <div class="footer__content">
      <div class="footer__row">
        <a class="footer__link" href="{{ asset('files/Правила акции.pdf') }}">Правила Акции</a>
        <span class="footer__delimiter">| </span>
        <a class="footer__link" href="{{ asset('files/Пользовательское соглашение.pdf') }}">Пользовательское
          соглашение</a>
      </div>
      <div class="footer__row">
        <div class="footer__copyright">© ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
      </div>
    </div>
  </footer>
</div>

{% block javascripts %}
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/jquery.arcticmodal-0.3.min.js') }}"></script>
  <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
  <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
  <script src="{{ asset('js/main.js') }}"></script>
  <script src="{{ asset('js/jquery.mask.js') }}"></script>
{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[ c ] = w[ c ] || []).push(function () {
      try {
        w.yaCounter46104132 = new Ya.Metrika({
          id: 46104132,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
          trackHash: true,
        });
      } catch (e) {
      }
    });
    var n = d.getElementsByTagName("script")[ 0 ], s = d.createElement("script"), f = function () {
      n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks"); </script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/46104132" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
{#{% endminifyhtml %}#}