{#{% minifyhtml %}#}
<!DOCTYPE html>
{% set show = app.request.query.get("show") %}
{% set action =  banned_listener.getAction() %}
{% set content_version = banned_listener.getAssetsVersion() %}
{% set lottery_date = banned_listener.getLotteryDate() %}
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  <meta name="viewport" content="width=device-width">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ apm_css }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/scroll.css') }}">

    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}?{{ content_version }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}?{{ content_version }}">
    <link rel="stylesheet" href="{{ asset('css/media.css') }}?{{ content_version }}">
    <style>
      span.reg-code-error-fuel {
        text-align: center;
        display: inline-block;
        width: 100%;
        color: red;
      }
    </style>
  {% endblock %}
  <script>
    window.show = '{{ show }}';
  </script>
</head>
<body>
{% set route = app.request.attributes.get('_route') %}
<div class="full-screen container-mp">
  <header class="page_header">
    <div class="row header-bg">
      <div class="col-xs-20 col-sm-5">
        <div class="header-logo">
          <a href="{{ path('index_page') }}">
            <img src="{{ asset('images/logo.png') }}" alt="">
          </a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-19">
        <div class="mobile-menu js-menu-toggler visible-xs">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="header-menu-wrap">
          <ul class="up header-menu">
            {% if(is_granted('ROLE_USER')) %}
              <li class="auth visible-xs {{ route == 'personal_page' ? 'active' }}"
                  style="background-image : url({{ asset('images/user-i.png') }})">
                <a href="{{ path('personal_page') }}">Личный кабинет</a>
              </li>
            {% endif %}
            <li class="visible-xs {{ route == 'index_page' ? 'active' }}"
                style="background-image : url({{ asset('images/house-i.png') }})">
              <a class="{{ route == 'index_page' ? 'active' }}" href="{{ path('index_page') }}">Главная</a>
            </li>
            <li class="{{ route == 'prizes_page' ? 'active' }}"
                style="background-image : url({{ asset('images/gift-i.png') }})">
              <a class="{{ route == 'prizes_page' ? 'active' }}" href="{{ path('prizes_page') }}">Призы</a>
            </li>
            <li class="{{ route == 'winnners_page' ? 'active' }}"
                style="background-image : url({{ asset('images/star-i.png') }})">
              <a class="{{ route == 'winnners_page' ? 'active' }}" href="{{ path('winnners_page') }}">Победители</a>
            </li>
            <li class="ask {{ route == 'faq_page' ? 'active' }}"
                style="background-image : url({{ asset('images/ask-i.png') }})">
              <a class="{{ route == 'faq_page' ? 'active' }}" href="{{ path('faq_page') }}">Вопрос-ответ</a>
            </li>
            <li class="mail {{ route == 'feedback_page' ? 'active' }}"
                style="background-image : url({{ asset('images/mail-i.png') }})">
              <a class="{{ route == 'feedback_page' ? 'active' }}" href="{{ path('feedback_page') }}">Обратная связь</a>
            </li>
            {% if(is_granted('ROLE_USER')) %}
              <li class="auth {{ route == 'personal_page' ? 'active' }}"
                  style="background-image : url({{ asset('images/exit-i.png') }})">
                <a href="{{ path('personal_page') }}" class="hidden-xs">
                  <img src="{{ asset('images/user.png') }}" alt="">
                </a>
                <a href="{{ path('logout') }}">Выход</a>
              </li>
            {% else %}
              <li class="{{ route == 'login' ? 'active' }}"
                  style="background-image : url({{ asset('images/user-i.png') }})">
                <a href="{{ path('login') }}">Вход</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  {% block body %}{% endblock %}
  <footer class='page_footer text-center up'>
    <div class="page-footer-bg">
      <a href="" class='up'>Правила акции</a> | <a href="" class='up'>Пользовательское соглашение</a>
      <div class="">© ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
    </div>
  </footer>
</div>

{% block modals %}
  <!--Modals-->
  {% if action == "#uploadModal" %}
    <!-- Modal -->
    <div class="modal fade modal-reg-form" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Регистрация кода
            </h4>
          </div>
          <div class="modal-body">
            <form action="{{ path('promocode_register') }}" method="post" id="upload_form">
              <span class="reg-code-error-fuel"></span>
              <div class="modal-pre-title up">
                Получи гарантированный приз
              </div>
              <div class="modal-post-title">
                Выберите скидку:
              </div>
              <div class="prize-select-row">
                <div class="row">
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/yr.png') }})"></div>
                    <input type="radio" name="prize-guaranteed" id="prize-garant-yr" title="prize-garant-yr" disabled
                           value="yr">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/lamoda.png') }})"></div>
                    <input type="radio" name="prize-guaranteed" id="prize-garant-lamoda" title="prize-garant-lamoda"
                           disabled value="lamoda">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/ll.png') }})"></div>
                    <input type="radio" name="prize-guaranteed" id="prize-garant-ll" title="prize-garant-ll" disabled
                           value="ll">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                </div>
              </div>
              <div class="modal-hr text-center">
                <img src="{{ asset('images/hr.png') }}" alt="">
              </div>
              <div class="modal-pre-title up">
                УЧАСТВУЙ В ЕЖЕНЕДЕЛЬНОМ РОЗЫГРЫШЕ
              </div>
              <div class="modal-post-title">
                Выберите сертификат:
              </div>
              <div class="prize-select-row">
                <div class="row">
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/yr.png') }})"></div>
                    <input type="radio" name="prize-weekly" value="yr" title="prize-week-yr">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/lamoda.png') }})"></div>
                    <input type="radio" name="prize-weekly" value="lamoda" title="prize-week-lamoda">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                  <div class="col-xs-8 prize-select-block">
                    <div class="img-choise-prize" style="background-image: url({{ asset('images/ll.png') }})"></div>
                    <input type="radio" name="prize-weekly" value="ll" title="prize-week-ll">
                    <img src="{{ asset('images/t.png') }}" alt="">
                    <img src="{{ asset('images/t1.png') }}" alt="">
                  </div>
                </div>
              </div>
              <div class="mf-row">
                <form action="" class="modal-reg-form">
                  <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-7">
                      <div class="form-block">
                        <input type="text" class='text-center modal-custum-input' name="code" placeholder="Введите код">
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 col-xs-text-center">
                      <button class="gradient-btn xxs-button" id="send_code" disabled="">ОК
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal мы с Тамарой ходим парой -->
    <div class="modal fade" id="completeRegCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Код успешно принят!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                Поздравляем, Вы получаете <br>
                гарантированный приз — код на скидку <br>
                в интернет-магазине
                <img src="{{ asset('images/lamoda.png') }}" class="modal-single-img modal-prise-garanted" alt="">
                Также Ваш код будет участвовать <br>
                в розыгрыше еженедельного <br>
                приза – сертификат
                <img src="{{ asset('images/lamoda.png') }}" class="modal-single-img  modal-prise-main" alt="">
                и в розыгрыше главного приза <br><br>

                Розыгрыш еженедельного приза <br>
                состоится {{ lottery_date }}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if action == "#eolModal" %}
    <!-- Modal -->
    <div class="modal fade" id="eolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>Акция завершена!</p>
              <p>
                Выдача призов осуществляется <br>
                до 31 августа 2018 г. <br>
                Информацию по получению призов <br>
                Вы можете узнать в <a href="{{ path('personal_page') }}">Личном кабинете</a><br> 
                или направив запрос в <a href="{{ path('feedback_page') }}">Обратную связь.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if action == "#earlyModal" %}
    <!-- Modal -->
    <div class="modal fade" id="earlyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>Акция еще не началась!</p>
              <p>
                Ваш первый код Вы сумеете загрузить <br> уже 01 марта 2018. <br>
                С правилами акции можете <br>
                ознакомиться перейдя по <a href="{{ asset('files/rules.pdf') }}">ссылке</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if action == "#agreeModal" %}{% endif %}

  <!-- Modal -->
  <div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Уважаемый участник!
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            Согласно правилам, принять участие в Акции могут только лица, достигшие 18 лет.
            <br>
            <br>
            <a href="{{ asset('files/rules.pdf') }}" target="_blank">Правила Акции</a>
          </div>
          <div class="form-btn text-center">
            <button class="gradient-btn xxs-button" data-dismiss="modal">ОК</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if action == "#overflowModal" %}
    <!-- Modal -->
    <div class="modal fade" id="overflowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                далее TOO_MANY_INVALID_PROMOCODES
                далее TOO_MANY_INVALID_RECEIPTS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if action == "#speedModal" %}
    <div class="modal fade" id="speedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                Далее
                TOO_MANY_PROMOCODES_PER_MINUTE
                TOO_MANY_RECEIPTS_PER_MINUTE
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if action == "#speed1Modal" %}
    <div class="modal fade" id="speed1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                Вы заблокированы на 3 часа в связи с подозрительной активностью и вводом более 15 кодов в минуту.
                <br>
                <br>
                <a href="{{ asset('files/rules.pdf') }}" target="_blank">Правила Акции</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if action == "#countModal" %}
    <!-- Modal -->
    <div class="modal fade" id="countModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                Согласно Правилам Акции <br>
                Вы не можете зарегистрировать <br>
                более 100 кодов <br>
                за весь период акции. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if action == "#banModal" %}
    <!-- Modal -->
    <div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title up" id="myModalLabel">
              Уважаемый участник!
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-static">
              <p>
                Согласно Правилам Акции <br>
                Вы не можете зарегистрировать <br>
                более 100 кодов <br>
                за весь период акции. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="exists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Уважаемый участник!
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            <p>
              Введенные Вами данные уже <br> существуют.
            </p>
            <p>
              Если Вы участвовали в других акциях <br> группы Компании <a href="https://pepsico.ru/">PepsiCo Россия</a>,
              то <br> можете использовать прежний логин и <br>пароль для <a href="{{ path('login') }}">авторизации</a>
              на сайт. <br>
              Если необходимо восстановить пароль, <br> воспользуйтесь формой <br> 
              <a href="{{ path('login',{'show':'recover'}) }}">восстановления пароля</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Уважаемый участник!
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            Вы успешно зарегистрировались. <br>
            Для подтверждения адреса <br>
            электронной почты на указанный Вами <br>
            e-mail отправлено письмо.
            <p class="modal-xs-text">
              *Если письмо не пришло – проверьте папку «Спам» <br> или обратитесь в <a
                  href="{{ path('feedback_page') }}">обратную связь</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!--Modals end-->

<!-- Modal Отдельно, должна перекрывать отстальные модалки -->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="z-index: 10000;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        <h4 class="modal-title up" id="modalMessage-header">

        </h4>
      </div>
      <div class="modal-body">
        <div class="modal-static" id="modalMessage-text">

        </div>
        <div class="form-btn text-center">
          <button class="gradient-btn xxs-button" data-dismiss="modal">ОК</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
  <script src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
  <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
  <script src='{{ asset('js/jquery.slimscroll.min.js') }}'></script>
  <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/jquery.mask.js') }}"></script>
  <script src="{{ asset('js/jquery.form.min.js') }}"></script>
  <script src="{{ asset('js/moment.js') }}"></script>
  <script src="{{ asset('js/moment-with-locales.js') }}"></script>
  <script src="{{ asset('js/js.cookie-2.2.0.min.js') }}"></script>

  <script src="{{ asset('js/libs.js') }}?{{ content_version }}"></script>

  <script>
    function showErrorMessage(text) {
      console.log("Error", text);
      $('#modalMessage-header').html("Ошибка");
      $('#modalMessage-text').html(text);
      $('#modalMessage').modal('show');
    }

    function showMessage(text) {
      showMessage2(text, "")
    }

    function showMessage2(header, text) {
      console.log("Message", text, header);
      $('#modalMessage-header').html(header);
      $('#modalMessage-text').html(text);
      $('#modalMessage').modal('show');
    }
  </script>
  {% if action == "#authModal" %}
  <script>
    $('.button-purple').click(function () {
      window.location = '{{ path('login') }}';
    });
  </script>
  {% endif %}
  {% if action == "#uploadModal" %}
  <script>
    $(function () {
      $('#upload_form').ajaxForm({
        beforeSubmit: function (formData, jqForm, options) {
          var queryString = $.param(formData);
          console.log(queryString);
          return true;
        },
        success: function (responseText, statusText, xhr, $form) {
          console.log('status: ' + statusText + '\n\nresponseText: \n' + responseText);
          if (responseText.status === 200) {
            $('input[name=code]').val('');
            var completeModal = $('#completeRegCode');
            completeModal.find('.modal-prise-garanted').attr('src', responseText.garanted);
            completeModal.find('.modal-prise-main').attr('src', responseText.main);
            $('#uploadModal').modal('hide');
            completeModal.modal();

          } else {
            $('span.reg-code-error-fuel').text(responseText.error)
            return false;
          }
        },
        type: 'post',
        dataType: 'json',
        clearForm: false,
        resetForm: false,
      });
    });
  </script>
  {% endif %}

  {% if action == "#updateModal" %}
  <script>
    $('.button-purple').click(function () {
      window.location = '{{ path('personal_page',{show: 'updateModal'}) }}';
    });
  </script>
  {% endif %}
  <script src="{{ asset('js/index.js') }}?{{ content_version }}"></script>

  <script>

    $(document).on('shown.bs.modal', function (e) {
      var custom_options = {
        translation: {
          'A': { pattern: /[a-zA-Z0-9]/, optional: true },
          'B': { pattern: /[a-zA-Z0-9]/ },
        },
      };
      $('input[name=code]').mask("BBBB-BBBA", custom_options);
      console.log('uploadModal');
      console.log(e.target.id);
      if (e.target.id === "uploadModal") {
        $('input[name=code]').val('');
        $('input[name=prize-guaranteed]').prop('disabled', true);
        $('input[name=prize-guaranteed]').attr('checked', false);
        $('input[name=prize-weekly]').attr('checked', false);
        $.ajax({
          url: '{{ path('check_prizes') }}', success: function (json) {
            console.log(json);
            if (json.lamoda === 1) {
              $('#prize-garant-lamoda').prop('disabled', false);
            }
            if (json.yr === 1) {
              $('#prize-garant-yr').prop('disabled', false);
            }
            if (json.ll === 1) {
              $('#prize-garant-ll').prop('disabled', false);
            }

            $('#send_code').prop('disabled', false);
          },
        });
      }
    })
  </script>
{% endblock %}
{% for label, messages in app.session.flashbag.all %}
  {% if label == 'ageModal' or label == 'age' %}
    <script>
      $('#ageModal').modal();
    </script>
  {% elseif label == 'login' %}

    {% elseif label == 'feedback' %}
    <script>
      {% for message in messages %}
      console.log('{{ message }}');
      document.dispatchEvent(new Event('{{ message }}'));
      {% endfor %}
    </script>

    {% elseif label == 'registration' %}
    <script>
      $('#success').modal();
    </script>
    {% elseif label == 'exists' %}
    <script>
      $('#exists').modal();
    </script>
  {% else %}

  {% endif %}
{% endfor %}
<script>
  $(function () {
    switch (show) {
      case 'age':
      case 'ageModal':
        $('#ageModal').modal();
        break;
      case 'recover':
        $('#recover').modal();
        break;
      case 'updateModal':
        $('#regModal').modal();
        break;
    }
  });
</script>

<script type="text/javascript" id="widget_chatbox">
  odinodinid = 'ISXCVZXCAQ';
  (function (odinodinid) {
    function async_load() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://widget.firstline.chat/sokya/embed.js?' + Math.random();
      var embedder = document.getElementById('widget_chatbox');
      embedder.parentNode.insertBefore(s, embedder)
    };window.odinodin = {};
    window.odinodin.settings = {};
    window.odinodin.id = odinodinid;
    window.odinodin.autoStart = 0;
    window.attachEvent ? window.attachEvent('onload', async_load) : window.addEventListener('load', async_load, false)
  })(odinodinid)
</script>
</body>
</html>
{#{% endminifyhtml %}#}