{% minifyhtml %}
<!DOCTYPE html>
{% set show = app.request.query.get("show") %}
{% set action =  banned_listener.getAction() %}
{% set content_version = banned_listener.getAssetsVersion() %}
<html>
<head>
  <meta charset="UTF-8"/>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[ l ] = w[ l ] || [];
      w[ l ].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js',
      });
      var f = d.getElementsByTagName(s)[ 0 ],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TPF753F');</script>
  <!-- End Google Tag Manager -->
  <title>{% block title %}Узнай вкус наслаждения{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ apm_css }}"/>
    {#<link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">#}
    <style>
      .tooltip-inner {
        max-width: 300px;
        font-size: 2rem;
      }

      .restore-helper {
        color: #b50064;
        font-size: 18px;
      }
    </style>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}?{{ content_version }}">
    <style>

      .popup .revizor__button-style #revizor-button-upload-label {

        font-family: "Opium";
        font-size: 19px;
        text-align: center;
        color: #030f00;
        display: block;
        margin: auto;
        margin-top: 2em;
        margin-left: -80px;
        width: 250px;
        text-align: center;
      }

      .popup .revizor__button-style {
        overflow: visible;
      }

      @media screen and (max-width: 1150px) {
        .main-menu__item {
          padding: 0 1vh;
        }
      }

      @media screen and (max-width: 1100px) {
        .main-menu__item {
          padding: 0 .9vh;
        }
      }

      @media screen and (max-width: 1040px) {
        .main-menu__item {
          padding: 0 .7vh;
        }
      }

    </style>
  {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPF753F" height="0" width="0"
          style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% set route = app.request.attributes.get('_route') %}
<div class="page">
  <header class="header" id="header">
    <div class="header__wrapper clearfix">
      <div class="header__menu-wrap">
        <div class="main-menu-wrap clearfix">
          <div class="mobile-menu-btn" id="menuButton"><span></span></div>
          <ul class="main-menu" id="mainMenu">
            <li class="main-menu__item {{ route == 'index_page' ? 'active' }}">
              <a class="main-menu__link" href="{{ path('index_page') }}">Об акции</a>
            </li>
            <li class="main-menu__item {{ route == 'prizes_page' ? 'active' }}">
              <a class="main-menu__link" href="{{ path('prizes_page') }}">Призы</a>
            </li>
            <li class="main-menu__item {{ route == 'winnners_page' ? 'active' }}">
              <a class="main-menu__link" href="{{ path('winnners_page') }}">Победители</a>
            </li>
            <li class="main-menu__item {{ route == 'feedback_page' ? 'active' }}">
              <a class="main-menu__link" href="{{ path('feedback_page') }}">FAQ</a>
            </li>
            {% if(is_granted('ROLE_USER')) %}
              <li class="main-menu__item {{ route == 'personal_page' ? 'active' }}">
                <a class="main-menu__link" href="{{ path('personal_page') }}">Личный кабинет</a>
              </li>
              <li class="main-menu__item {{ route == 'login' ? 'active' }}">
                <a class="main-menu__link" href="{{ path('logout') }}">Выход</a>
              </li>
            {% else %}
              <li class="main-menu__item {{ route == 'login' ? 'active' }}">
                <a class="main-menu__link" href="{{ path('login') }}">Вход</a>
              </li>
            {% endif %}

            <li class="main-menu__item main-menu__item_img">
              <a class="main-menu__link" href="{{ path('metro_redirect') }}" style="border-bottom: none;"
                 target="_blank">
                <img class="main-menu__img" src="{{ asset('images/metro-menu.png') }}" alt="Metro">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__logo">
        <a href="{{ path('index_page') }}">
          <img class="header__logo-img" src="{{ asset('images/logo.png') }}" alt="Узнай вкус наслаждения">
        </a>
      </div>
    </div>
  </header>
  {% block body %}{% endblock %}
  <div class="hidden">
    {% block modals %}

      <div class="popup" id="doneModal">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">
            Аккаунт активирован
          </p>
        </div>
      </div>
      <div class="popup" id="banModal">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Регистрация чека</h2>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">К сожалению, Вы были заблокированы на 24 часа.</p>
          <p class="popup__text popup__text_size_limit">С возможными причинами блокировки Вы можете ознакомиться в
            разделе FAQ. </p>
        </div>
      </div>
      <div class="popup" id="uploadModal">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Регистрация чека</h2>
        <div class="popup__wrap popup__wrap_size_small">
          <p class="popup__text">Приложите скан/фото чека <br> (jpeg, gif, png, размер не более 10 Мб)</p>
          <form class="form" action="#">
            <div class="form__row">
              <div class="form__box">
                <div id="revizor"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="popup" id="ageModal">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">
            Согласно правилам акции,<br>
            принять участие в Акции могут<br>
            только лица, достигшие 18 лет.
          </p>
        </div>
      </div>
      <div class="popup" id="moderateModal">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">
            Ваш чек загружен и отправлен на модерацию. <br>
            Статус обработки чека Вы можете отследить в личном кабинете.
          </p>
        </div>
      </div>
      <div class="popup" id="uploadErrorModal">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">Неверный формат или размер скана/фото чека.</p>
          <div class="popup__button-wrap">
            <button class="button button_regcheck" type="submit"><span class="button__text">Повторить попытку</span>
            </button>
          </div>
        </div>
      </div>
      <div class="popup" id="authModal">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Добрый день! </h2>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">Чтобы загрузить чек, нужно зарегистрироваться или
            авторизоваться</p>
          <div class="popup__form-wrap">
            <form class="form" action="{{ path('login') }}" method="post">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <div class="form__row">
                <div class="form__box">
                  <label class="form__label" for="_username">Email</label>
                  <input class="form__input" type="email" id="_username" name="_username">
                </div>
              </div>
              <div class="form__row">
                <div class="form__box">
                  <label class="form__label" for="_password">Пароль</label>
                  <input class="form__input" type="password" id="_password" name="_password">
                </div>
              </div>
              <div class="form__row">
                <div class="form__box">
                  <div class="form__checkbox__container">
                    <input class="form__checkbox" type="checkbox" id="rememberme" name="_remember_me">
                    <label class="form__checkbox-text form__checkbox-text_big" for="rememberme">Запомнить
                      пароль</label>
                    <a class="form__link password-reminder" href="#">Забыли пароль?</a>
                  </div>
                </div>
              </div>
              {#<div class="form__row">#}
              {#<div class="form__box">#}
              {#<script src='https://www.google.com/recaptcha/api.js'></script>#}
              {#<div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>#}
              {#</div>#}
              {#</div>#}
              <div class="form__row">
                <div class="form__box form__box_button">
                  <button class="button" type="submit"><span class="button__text">Войти</span></button>
                  <a class="form__link form__link_block" href="{{ path('registration_page') }}">Регистрация </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="popup" id="agreeModal">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Добро пожаловать!</h2>
        <div class="popup__wrap">
          <p class="popup__text popup__text_big">Пожалуйста, подтвердите:</p>
          <p class="popup__text">Я подтверждаю, что мне исполнилось 18 лет на момент участия в Акции</p>
          <p class="popup__text">Я согласен с правилами Акции и пользовательским соглашением, а также на обработку моих
            данных</p>
          <form class="form" action="{{ path('agree_page') }}">
            <input type="hidden" name="agreement" value="Согласен">
            <div class="form__row">
              <div class="form__box form__box_button form__box_margin_med">
                <button class="button button_width_full" type="submit"><span class="button__text">ОК   </span></button>
              </div>
              <div class="form__box form__box_button form__box_margin_med">
                <button class="button button_width_full arcticmodal-close"><span
                      class="button__text no-wrap">Не согласен                                                                                                            </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% if(not is_granted('ROLE_USER')) %}
        <div class="popup" id="restoreModal">
          <div class="popup__close arcticmodal-close">X</div>
          <h2 class="popup__title">Восстановление пароля</h2>
          <div class="popup__wrap">
            <p class="popup__text">Мы вышлем Ваш новый пароль на e-mail.</p>
            <div class="popup__form-wrap">
              <form class="form" action="{{ path('recover_password_page') }}" id="form_restore">
                <div class="form__row">
                  <div class="form__box">
                    <label class="form__label" for="email">Email*</label>
                    <input class="form__input" type="email" id="email" name="login">
                    <p style="font-size: 14px;font-family: 'Opium'">* Обязательно для заполнения</p>
                    <p class="restore-helper form__label" style="color:red;"></p>
                  </div>
                </div>
                <div class="form__row">
                  <div class="form__box form__box_button">
                    <button class="button" type="submit"><span class="button__text">Отправить</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
      <!-- Злоебучий попап нажатия на кнопку зарегать чек -->
      <div class="popup" id="eolModal">
        {#<div class="popup__close arcticmodal-close">X</div>#}
        {#<h2 class="popup__title free-text-h">Уважаемый участник!</h2>#}
        <div class="popup__wrap">
          <p class="popup__text free-text">Уважаемый участник,<br> регистрация чеков завершена.</p>
          <br>
          <br>
          <button class="button arcticmodal-close" style="margin: auto;display: block;" ><span class="button__text">OK</span></button>
        </div>
      </div>
      <!-- Злоебучий попап бесящий при каждом входе на главную -->
      <div class="popup" id="eolMModal">
        {#<div class="popup__close arcticmodal-close">X</div>#}
        <h2 class="popup__title free-text-h" style='white-space: normal;text-transform: none;'>Уважаемый участник, акция завершена!</h2>
        <div class="popup__wrap" style="max-width: 510px;">
          <p class="popup__text free-text">
            
            Выдача призов осуществляется до 31 декабря <nobr> 2017 г.</nobr><br>
            Информацию по получению призов Вы можете узнать в
            <a href="{{ path('personal_page') }}" style="color: #000; text-decoration: none">Личном кабинете</a>или направив запрос в
            <a href="{{ path('feedback_page') }}" style="color: #000; text-decoration: none">Обратную связь</a>
            <br>
            <br>
            <button class="button arcticmodal-close" style="margin: auto;display: block;width: 170px;" ><span class="button__text">OK</span></button>
          </p>
        </div>
      </div>
      <div class="popup" id="freeModal">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title free-text-h"></h2>
        <div class="popup__wrap">
          <p class="popup__text free-text"></p>
        </div>
      </div>
    {% endblock %}
  </div>
  <footer class="footer" id="footer">
    <div class="footer__content">
      <div class="footer__row">
        <a class="footer__link" href="{{ asset('files/Правила акции.pdf') }}" target="_blank">Правила Акции</a>
        <span class="footer__delimiter">| </span>
        <a class="footer__link" href="{{ asset('files/Пользовательское соглашение.pdf') }}" target="_blank">
          Пользовательское соглашение
        </a>
      </div>
      <div class="footer__row">
        <div class="footer__copyright">© ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
      </div>
    </div>
  </footer>
</div>

{% block javascripts %}
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/jquery.arcticmodal-0.3.min.js') }}"></script>
  <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
  <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
  <script src="{{ asset('js/jquery.mask.js') }}"></script>
  <script src="{{ asset('js/jquery.maskedinput.js') }}"></script>
  <script src="{{ asset('js/jquery.form.min.js') }}"></script>
  <script src="{{ asset('js/moment.js') }}"></script>
  <script src="{{ asset('js/js.cookie-2.2.0.min.js') }}"></script>
  <script src="{{ asset('js/moment-with-locales.js') }}"></script>

  <script src="{{ asset('js/main.js') }}?{{ content_version }}"></script>

  <script>
    $.arcticmodal('setDefault', {
      beforeOpen: function (data, el) {
        window.ppId = $(el).attr('id');
        console.log(ppId);

        dataLayer.push({
          'event': 'FormSent',
          'eventCategory': ppId,
          'eventAction': 'Popup',
        });

        if (ppId === 'mobileMoney') {
          dataLayer.push({
            'event': 'Prizes',
            'eventCategory': 'Prizing',
            'eventAction': 'CallInput',
          });
        }
        console.log('default');
      },
    });

    function toDate(dateStr) {
      var parts = dateStr.split(".");
      return new Date(parts[ 2 ], parts[ 1 ] - 1, parts[ 0 ]);
    }

    function Ru(obj) {
      obj.value = obj.value.replace(/[^а-яё\-]/ig, '');
    }

    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function _calculateAge(birthday) { // birthday is a date
      console.log(birthday);
      var ageDifMs = Date.now() - birthday.getTime();
      var ageDate = new Date(ageDifMs); // miliseconds from epoch
      return Math.abs(ageDate.getUTCFullYear() - 1970);
    }

    //    $(function () {
    //      $('[data-toggle="popover"]').popover()
    //    });
    //    $(function () {
    //      $('[data-toggle="tooltip"]').tooltip()
    //    });

  </script>

  {% if(is_granted('ROLE_USER')) %}
  {% set user = app.user.participant %}
  <script type="text/javascript" src="{{ apm_url }}"></script>
  <script>
    function logUpload(userUuid) {
      $.ajax({
        method: "POST",
        url: "{{ path('log_upload') }}",
        data: { uuid: userUuid },
      })
        .done(function (msg) {
          console.log('upload tracked');
          console.log(msg);
        });
    }

    revizorWidget.init('#revizor', // widget container id
      {
        apiKey: '{{ apm_key }}', // widget api key
        userUuid: '{{ app.user.participant.getGuid() }}', // uuid of logged in use
        addButtonLabel: 'Добавить часть чека', // text for button 'add', type = string, defaultValue = 'Добавить чек'
        sendButtonLabel: 'Зарегистрировать чек', // text for button 'send', type = string, defaultValue = 'Отправить чек'
        uploadButtonLabel: 'Загрузить чек', // text for button 'upload', type = string, defaultValue = 'Загрузить чек'
        classForUploadButton: 'btn-ylw',   // className for buttons to add and upload checks, type = string
        classForUploadPreview: 'uploaded-preview', // className for block with preview uploaded check, type = string
        classForDeleteButton: '', // className for delete button, type = string
        classForSendButton: 'btn-ylw', // className for button to send, type = string
        successCallback: function () {
          logUpload('{{ app.user.participant.getGuid() }}');
          $('#uploadModal').arcticmodal('close');
          $('#moderateModal').arcticmodal({
            beforeClose: function (data, el) {
              {% if route == 'personal_page' %}
              window.location.reload();
              {% endif %}
            }, overlay: {
              css: { backgroundColor: '#041100', opacity: 0.65 },
            },
          });
        },
        errorCallback: function (body) {
          $('#uploadModal').arcticmodal('close');
          $('#uploadErrorModal').arcticmodal(favSyr.popup.options);
          console.log(body);
        },
      }
    );
  </script>
  {% endif %}
  <script>
    $(function () {

      var options_submit_restore_password = {
        beforeSubmit: show_request_restore_password,  // pre-submit callback
        success: show_response_restore_password,  // post-submit callback
        url: '{{ path('recover_password_page') }}',         // override for form's 'action' attribute
        type: 'post',        // 'get' or 'post', override for form's 'method' attribute
        dataType: 'json',        // 'xml', 'script', or 'json' (expected server response type)
        clearForm: false,       // clear all form fields after successful submit
        resetForm: false        // reset the form after successful submit
      };

      $('#form_restore').ajaxForm(options_submit_restore_password);

      function show_request_restore_password(formData, jqForm, options) {
        var helper = $('.restore-helper');
        helper.css('display', 'none');
        return true;
      }

      function show_response_restore_password(responseText, statusText, xhr, $form) {
        var helper = $('.restore-helper');

        if (responseText.status === 200) {
          $.arcticmodal('close');
          $('.free-text-h').html('Восстановление пароля');
          $('.free-text').html('Новый пароль отправлен Вам на указанный адрес.<br>' +
            'Если письмо не пришло сразу, пожалуйста, проверьте папку «Спам».');
          $('#freeModal').arcticmodal(favSyr.popup.options);
        } else {
          helper.html(responseText.error.messageKey);
          if (responseText.error.messageKey === 'User not found') {
            helper.html("Пользователь с указанным адресом электронной почты не найден");
          }
          helper.css('display', 'inline-block');
        }
      }
    });
  </script>
  <script>
    $('.button_regcheck').on('click', function () {
      window.route = '{{ route }}';
      if ('{{ action }}' === '#updateModal' && {{ route != 'personal_page' ? 'true':'false' }}) {
        window.location = '{{ path('personal_page',{'show':'update'}) }}';
      } else {
        $('{{ action }}').arcticmodal(favSyr.popup.options);
      }
    });
    $(function () {
      if ('{{ action }}' === '#updateModal' && {{ route == 'personal_page' ? 'true':'false' }}) {
        $('{{ action }}').arcticmodal(favSyr.popup.options);
      }
    });
  </script>
  {% if show is defined %}
  <script>
    $(function () {
      $('#{{ show }}Modal').arcticmodal(favSyr.popup.options);
      ;
    });
  </script>
  {% endif %}
  <script>
    {% if action == "#eolModal" and route == 'index_page' %}
    $(function () {
      var showprefinal = Cookies.get('eolMModal');
      if (showprefinal === undefined) {
        $('#eolMModal').arcticmodal();
        var inFifteenMinutes = new Date(new Date().getTime() + 3 * 60 * 60 * 1000);
        Cookies.set('eolMModal', '1', { expires: inFifteenMinutes });
      }
    });
    {% endif %}
  </script>
{% endblock %}
{#Эммитим#}
{% for label, messages in app.session.flashbag.all %}
  {% if label == 'age' %}
    <script>
      $(function () {
        $('#agePP').arcticmodal(favSyr.popup.options);
      });
    </script>
    {% elseif label == 'login' %}
    <script>
      $(function () {
        dataLayer.push({
          'event': 'FormSent',
          'eventCategory': 'login',
          'eventAction': 'success',
        });
      });
    </script>
    {% elseif label == 'feedback' %}
    <script>
      $(function () {
        dataLayer.push({
          'event': 'FormSent',
          'eventCategory': 'FAQ',
          'eventAction': 'Sent',
        });
        $('#faqSubmit').arcticmodal(favSyr.popup.options);
      });
    </script>
    {% elseif label == 'registration' %}
    <script>
      $(function () {
        console.log('reg');
        dataLayer.push({
          'event': 'FormSent',
          'eventCategory': 'Registration',
          'eventAction': 'success',
        });
        $('.free-text-h').html('Регистрация');
        $('.free-text').html('Поздравляем! <br>Вы успешно зарегистрированы!<br>' +
          ' Активируйте свой аккаунт, перейдя по ссылке<br> в письме,которое отправлено на Ваш email.<br>' +
          'Если письмо не пришло сразу, пожалуйста, проверьте папку «Спам».');
        $('#freeModal').arcticmodal(favSyr.popup.options);
      });
    </script>
  {% else %}
    <script>
      $(function () {
        var event = document.createEvent('Event');
        event.initEvent('{{ label }}', true, true);
        document.dispatchEvent(event);
      });
    </script>
  {% endif %}
{% endfor %}


<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[ c ] = w[ c ] || []).push(function () {
      try {
        w.yaCounter46104132 = new Ya.Metrika({
          id: 46104132,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
          trackHash: true,
        });
      } catch (e) {
      }
    });
    var n = d.getElementsByTagName("script")[ 0 ], s = d.createElement("script"), f = function () {
      n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks"); </script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/46104132" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
{% endminifyhtml %}