{#{% minifyhtml %}#}
<!DOCTYPE html>
{% set show = app.request.query.get("show") %}
{% set action =  banned_listener.getAction() %}
{% set content_version = banned_listener.getAssetsVersion() %}
{% set lottery_date = banned_listener.getLotteryDate() %}

{% set page_description = "Купи сок Я, регистрируй коды, выиграй шопинг в Милане со стилистом на 200 000 ₽!" %}
{% set page_name = "Выиграй 200 000 ₽ на шопинг в Милане от бренда Я" %}
{% set page_image =app.request.scheme ~'://' ~ app.request.httpHost ~ asset('apple-touch-icon.png') %}
{% set page_url = url('index_page') %}
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ page_description }}"/>
    <meta name="yandex-verification" content="b7d41817cc7ff644"/>
    <meta name="google-site-verification" content="9YEsJfys_y8MfYGGgfZeqQ1So08CkZuCLcWaEaK2J3M"/>
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page_name }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="image" content="{{ page_image }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    {#<meta name="twitter:site" content="@publisher_handle">#}
    <meta name="twitter:title" content="{{ block('title') }}">
    <meta name="twitter:description" content="{{ page_description }}">
    {#<meta name="twitter:creator" content="@author_handle">#}
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ page_image }}">

    <!-- Open Graph data -->
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ page_url }}"/>
    <meta property="og:image" content="{{ page_image }}"/>
    <meta property="og:description" content="{{ page_description }}"/>
    <meta property="og:site_name" content="{{ page_name }}"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    {% endblock %}
</head>
<body>
<div class="page">
    <div class="stub__header">
        <div class="stub__logo"></div>
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.arcticmodal-0.3.min.js') }}"></script>
    {% endblock %}
    <footer class="footer stub__footer">
        <div class="footer__content">
            <div class="footer__row"><a class="footer__link" href="#!">Правила Акции</a><span class="footer__delimiter"> | </span><a class="footer__link" href="#!">Пользовательское соглашение</a></div>
            <div class="footer__row">
                <div class="footer__copyright">© ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
{#{% endminifyhtml %}#}