{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "feedback" %}

{% block title %}
  Обратная связь
{% endblock %}

{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-feedback">
      <h1 class="static-title up">Обратная связь</h1>
      <div class="reg-form">
        {% form_theme form 'AppBundle:Forms:form_div_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="row">
          {% if errors %}
            {% for error in errors %}
              <label class="form__label" style="color: red;">
                {{ error }}
              </label>
            {% endfor %}
          {% endif %}
        </div>
        <div class="row">
          <div class="col-xs-11">
            <div class="form-block">
              <label for="">Ваш E-Mail</label>
              {{ form_widget(form.email, {'attr': {'class': 'fw'}}) }}
            </div>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-11">
            <div class="form-block">
              <label for="">Тема сообщения</label>
              {{ form_widget(form.theme_id, {'attr': {'class': 'fw'}}) }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-24">
            <div class="form-block">
              <label for="">Текст сообщения</label>
              {{ form_widget(form.message) }}
            </div>
          </div>
        </div>
        <div class="upload-line form-block">
          <div class="file-input-wrap js-file-wrapper">
            {{ form_widget(form.file, { 'id': 'file', 'attr': {'class': 'js-file-input'}}) }}
            <span class='js-file-input-value'>прикрепите файл</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-11 text-right">
            <div class="captcha-wrap">
              {{ form_row(form.recaptcha) }}
            </div>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-sm-12">
            <div class="media-checkbox media-checkbox-middle">
              <div class="checkbox-wrap">
                {{ form_row(form.agree,{'id': 'izmale'}) }}
                <span></span>
              </div>
              <div class="checkbox-title">
                Я согласен на обработку <br> моих данных
              </div>
            </div>
          </div>
        </div>
        <div class="form-btn text-center">
          <button class='gradient-btn'>Отправить</button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>


    function showError() {
      $('.free-text-h').html('Обратная связь');
      $('.free-text').html('Ошибка отправки данных.');
      $('#freeModal').arcticmodal(favSyr.popup.options);
    }

    document.addEventListener('feedback_error', function (e) {
      showError()
    }, false);

    function ValidateSize(file) {
      var FileSize = file.files[ 0 ].size / 1024 / 1024; // in MB
      if (FileSize > 3) {
        $('.free-text-h').html('Обратная связь');
        $('.free-text').html('Превышен допустимый размер файла в 3 Мб.<br>' +
          ' Попробуйте загрузить файл другого размера.');
        $('#freeModal').arcticmodal(favSyr.popup.options);
        $(file).val(''); //for clearing with Jquery
      } else {

      }
    }

  </script>
{% endblock %}

{% block modals %}
  {{ parent() }}
{% endblock %}