{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "feedback" %}

{% block title %}
  Обратная связь
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content main__content_dis_flex">
      <div class="main__left">
        <h1 class="title title_align_left">Обратная связь</h1>
        {% form_theme form 'AppBundle:Forms:form_div_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="form__wrapper">
          <div class="form__row">
            <div class="form__box">
              {% if errors %}
                {% for error in errors %}
                  <label class="form__label" style="color: red;">
                    {{ error }}
                  </label>
                {% endfor %}
              {% endif %}
              <label class="form__label" for="email">Ваш e-mail</label>
              {{ form_widget(form.email) }}
            </div>
          </div>
          <div class="form__row">
            <div class="form__box">
              <label class="form__label" for="theme">Тема сообщения</label>
              {{ form_widget(form.theme_id) }}
            </div>
          </div>
          <div class="form__row">
            <div class="form__box">
              <label class="form__label" for="theme">ТЕКСТ СООБЩЕНИЯ</label>
              {{ form_widget(form.message) }}
            </div>
          </div>
          <div class="form__row">
            <div class="form__box">
              <label class="form__label form__label_type_file" for="file">
                {{ form_widget(form.file, { 'id': 'file'}) }}
                <span class="form__load-file-title">Прикрепите файл</span>
              </label>
            </div>
          </div>
          <div class="form__row">
            {{ form_row(form.recaptcha) }}
            {{ form_row(form.agree) }}
          </div>
          <div class="form__row">
            <div class="form__box form__box_button-faq">
              <button class="button faqSubmit" type="submit">
                <span class="button__text">Отправить</span></button>
            </div>
          </div>
        </div>

        {{ form_end(form) }}
      </div>
      <div class="main__right">
        <h1 class="title title_align_left">Часто задаваемые вопросы</h1>
        <div class="faq">
          <div class="faq__content" id="jsScrollContent">
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Нужно ли мне сохранять чеки?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Да, чеки хранить нужно, так как наличие чека является обязательным условием участия в акции и
                    получения приза.<br>
                    Участнику акции необходимо зарегистрировать чек на сайте
                    <a class="faq__link" href="www.promo.ya-juice.ru">www.promo.ya-juice.ru</a>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Кто является организатором акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">Организатором Акции является ООО «ПепсиКо Холдингс» <br>
                    Оператором Акции является агентство ООО «Севен»
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Каковы сроки проведения Акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Общий срок проведения Акции, включая период выдачи призов Победителям: <br>
                    с «19» октября 2017 года по «31» декабря 2017 года (включительно).<br><br>

                    Срок проведения Акции в магазинах торговой сети «METRO Cash & Carry»:<br>
                    с «19» октября 2017 года по «15» ноября 2017 г. (включительно).<br><br>

                    <b>Период совершения покупки:</b>
                    с «19» октября 2017 года по «15» ноября 2017 г. (включительно) в магазинах торговой сети «METRO
                    Cash & Carry».
                    <br><br>
                    <b>Период регистрации чеков от покупки:</b>
                    с 00 ч. 00 м. 01 с. «19» октября 2017 года по 23 ч. 59 м. 59 с. (включительно) «15» ноября 2017
                    года по московскому времени.
                    <br><br>
                    <b>Период выдачи призов Победителям:</b>

                    с «24» октября 2017 года по «31» декабря 2017 г. (включительно).
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">В каких магазинах я могу купить продукт?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">Продукт для участия в акции можно купить
                    в любом магазине торговой сети «METRO Cash & Carry» на территории Российской Федерации.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Какие продукты принимают участие в Акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    В Акции участвуют соки и нектары Организатора под товарным знаком «Я» объемом 0,97 л:<br>
                    <br>
                    Нектар осветленный «Вишня»
                    <br>
                    Нектар «Апельсин - Мандарин»
                    <br>
                    Нектар с мякотью «Манго»
                    <br>
                    Нектар с мякотью «Мультифрукт»
                    <br>
                    Нектар с мякотью «Персик»
                    <br>
                    Напиток сокосодержащий «Мексиканский Микс»
                    <br>
                    100% сок с мякотью «Ананас»
                    <br>
                    100% сок с мякотью «Яблоко»
                    <br>
                    100% сок с мякотью «Грейпфрут»
                    <br>
                    100% сок с мякотью «Апельсин»
                    <br>
                    100% сок с мякотью «Томат»
                    <br>
                    100% сок осветленный «Яблоко»
                    <br>
                    100% сок осветленный «Виноград»
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Когда я могу зарегистрировать чек? Когда я могу подать заявку
                  на участие в Акции?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">Подать заявку и зарегистрировать Чек можно на сайте <a
                        class="faq__link" href="www.promo.ya-juice.ru">www.promo.ya-juice.ru</a>
                    в период: с 00 ч. 00 м. 01 с. «19» октября 2017 года по 23 ч. 59 м. 59 с.
                    (включительно) «15» ноября 2017 года по московскому времени.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Что мне нужно сделать, чтобы принять участие в акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    1. В период с «19» октября 2017 года по «15» ноября 2017 года
                    совершить единовременную покупку минимум 2 (двух) пачек сока или
                    нектара «Я», объемом 0,97 л, в любой торговой точке на территории
                    Российской Федерации, относящейся к торговой сети «METRO Cash & Carry» и
                    получить кассовый чек за Покупку, подтверждающий покупку Продукции, участвующей в Акции.
                    <br><br>
                    2. Зарегистрировать чек на сайте promo.ya-juice.ru путем регистрации сканированной копии (скана
                    или фотографии) чека.
                    <br><br>
                    <b style="color:red">Пожалуйста, сохраняйте чеки.</b>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Кто может принимать участие в акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Участниками Акции могут быть граждане РФ, достигшие 18 летнего возраста и постоянно проживающие на
                    территории Российской Федерации.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Как я могу зарегистрировать чек?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Зарегистрировать чек можно на сайте promo.ya-juice.ru,
                    предварительно пройдя регистрацию и подтвердив согласие с условиями акции
                    и на обработку персональных данных, а также подтвердив адрес электронной почты, указанной при
                    регистрации.<br>
                    Затем «зарегистрировать чек», приложив его скан/фото. Фотография или скан чека должны
                    соответствовать следующим требованиям:<br><br>
                    - формат JPEG, Gif, Png<br>
                    - размер не более 10 Мб<br>
                    - содержать разборчивую информацию:<br>
                    - наличие не менее 2 (двух) Продуктов, участвующих в акции<br>
                    - дата чека соответствует срокам проведения акции<br>
                    - чек сфотографирован полностью, включая верхний и нижний края чека<br>
                    - в чеке присутствуют дата, время покупки, итоговая сумма, ФН, ФД, ФПД.<br>
                    - QR-код<br>
                    <br><br>
                    Пожалуйста, сохраняйте оригиналы чеков до конца акции. Без предъявления чека Организатор акции НЕ
                    СМОЖЕТ выдать вам приз.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Как я узнаю, что стал участником акции?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    После регистрации на сайте promo.ya-juice.ru участнику акции отправляется e-mail
                    со ссылкой для подтверждения почтового ящика, а на сайте выводится оповещение об отправке
                    письма со ссылкой подтверждения. После того, как участник переходит по ссылке из письма, он
                    считается подтвердившим e-mail и
                    завершившим регистрацию, о чем он также оповещается на сайте promo.ya-juice.ru
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Сколько чеков я могу зарегистрировать?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Один участник может зарегистрировать неограниченное количество чеков.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Почему меня заблокировали и на сколько?</div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Вас могли заблокировать, если вы загрузили подряд 5 чеков/картинок, которые не прошли модерацию. В
                    таком случае, возможность загружать чеки ограничена в первый раз на 6 часов, во второй раз на 12
                    часов, в третий раз на 24 часа.<br>
                    Если подобный инцидент повторится 3 раза, организатор на четвертый раз вправе заблокировать такого
                    пользователя на весь период акции<br>
                    В случае возникновения дополнительных вопросов, пожалуйста, воспользуйтесь формой обратной
                    связи.<br>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Сколько призов разыгрывается за весь период акции?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    За весь период акции разыгрывается:<br><br>
                    Гарантированный приз – 1 400 ед.<br>
                    Еженедельный приз – 50 ед.<br>
                    Главный приз – 1 ед.<br>
                    <br><br>
                    Каждую неделю разыгрывается:<br><br>
                    Гарантированный приз – 350 ед.<br>
                    Еженедельный приз – 10 ед.<br><br>
                    <b>Победителем становится участник, чеки которого прошли модерацию.</b>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">Какие документы я должен(на) предоставить, чтобы получить
                  Призы?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Победители Акции, выигравшие Еженедельный и Главный приз, обязуются предоставить по требованию
                    Оператору/Организатору следующую обязательную информацию и документы:<br><br>
                    - Дату своего рождения и адрес электронной почты.<br>
                    - ФИО и номер мобильного телефона, по которому Организатор/Оператор
                    может связаться с Победителем. При этом указанный номер мобильного телефона
                    должен совпадать с номером, указанным на Сайте при заказе приза в Личном кабинете.<br>

                    - Сканированную копию / фотографию оригинала чека (ов) от Покупки (ок);<br>

                    - Копию своего паспорта (первая страница паспорта с фотографией и паспортными данными и страница с
                    указанием адреса регистрации).<br>

                    - Сканированную копию ИНН;<br>

                    - Полный почтовый адрес с указанием индекса для отправки Приза.<br>

                    - Иную информацию по запросу Организатора или Оператора Акции<br><br>

                    Информация и копии документов должны быть направлены Победителем Организатору
                    на адрес электронной почты promo.ya-juice@7-agency.ru не позднее 7 (семи) календарных дней после
                    определения <br>
                    Победителей Акции и оповещения их о выигрыше путем получения электронного письма на указанный при
                    регистрации адрес.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Когда и как я могу получить приз?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Период выдачи призов Победителям: с «24» октября 2017 года по «31» декабря 2017 г.
                    (включительно).<br>

                    Вручение призов Акции производится следующим образом:<br>

                    Гарантированный приз - переводится на счет мобильного телефона Победителя, указанного при заказе
                    приза в Личном кабинете.<br>

                    Еженедельный приз - производится путем отправки Победителю Приза на почтовый адрес, указанный по
                    требованию Организатора/Оператора.
                    При получении Приза Победитель обязуется подписать Акт приема-передачи.<br>

                    Главный приз - производится путем вручения приза лично в руки победителю. При получении Приза
                    Победитель обязуется подписать Акт приема-передачи.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Надо ли платить налоги с приза?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Участники проводимой Акции уведомлены об обязанностях уплаты налога на доходы физических лиц со
                    стоимости призов,
                    превышающей 4 000 (Четыре тысячи) рублей по ставке 35% на основании пункта 1 статьи 207, пункта 1
                    статьи 210,
                    пункта 2 статьи 224 Налогового кодекса Российской Федерации, а также об обязанностях налогового
                    агента (Оператора Акции)
                    удержать начисленную сумму налога непосредственно из доходов Участника Акции (Получателя дохода)
                    при их фактической
                    выплате на основании пунктов 4 и 5 статьи 226 Налогового кодекса Российской Федерации. При выдаче
                    Приза Оператор
                    исполняет обязанности налогового агента и исчисляет налог на доходы физических лиц, удерживая его
                    из общей стоимости
                    Приза в соответствии с п. 2 ст. 224 и п. 4 ст. 226 части II Налогового кодекса Российской
                    Федерации для перечисления в бюджет соответствующего уровня.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Как посмотреть статус по зарегистрированным чекам?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Информацию по модерации зарегистрированного вами чека, вы можете найти в личном кабинете в графе
                    «статус чека».
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Какие есть требования к чекам?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Для успешного прохождения модераци, чек должен соответствовать следующим требованиям:<br><br>
                    1. Должны быть указаны не менее 2-х пачек соков или нектаров Я, объемом 0,97 л.<br>
                    2. Чек должен быть датирован не ранее 19.10.2017 и не позднее 15.11.2017г.<br>
                    3. Чек должен быть сфотографирован полностью, включая верхний и нижний края чека.<br>
                    4. В чеке должны присутствовать дата, время покупки, итоговая сумма, ФН, ФД/ФПД, QR-код.<br>
                    5. Чек должен соответствовать требованиям, указанным в.п. 2.9.2 Правил Акции.<br>
                    6. Согласно положению Федерального закона "О применении контрольно-кассовой техники
                    при осуществлении наличных денежных расчетов и (или) расчетов с использованием платежных карт"
                    от 22.05.2003 N 54-ФЗ с 01 июля 2017 года, чеки должны быть нового образца.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Как выглядит чек нового образца?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    <a href="/images/newch.jpg" target="_blank"><img src="/images/newch.jpg"
                                                                     style="display: block; width : 200px; margin : 10px auto;"></a>
                    1 - Продукция, участвующая в акции<br>
                    2 - Наличие даты чека<br>
                    3 - ФН – фискальный накопитель<br>
                    4 - ФД - фискальный документ,<br>
                    ФПД - фискальный признак документа<br>
                    5 - QR – код<br>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Почему принимаются только чеки нового образца?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Согласно положению Федерального закона "О применении контрольно-кассовой техники при осуществлении
                    наличных денежных расчетов и (или) расчетов с использованием платежных карт"
                    от 22.05.2003 N 54-ФЗ с 01 июля 2017 года, все чеки должны выдаваться нового образца.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Почему не приняли мой чек?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Причины отклонения чека отражаются в личном кабинете, в графе «статус чека».
                    Более детальные пояснения, в случае полного соответствия чека пункту 2.9.2. правил Акции, можно
                    получить, обратившись в форму Обратной Связи.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Не могу зарегистрироваться.
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Если у вас не получается зарегистрироваться на сайте, напишите нам в разделе «Обратная связь» с
                    описанием проблемы.
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Почему меня заблокировали?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    В случае попытки зарегистрировать на сайте 5 (пять) некорректных чеков подряд первый раз в течение
                    акции, участнику
                    блокируется возможность ввода чеков - на 6 часов.<br>
                    В случае попытки зарегистрировать на сайте 5 (пять) некорректных
                    чеков подряд второй раз в течение акции, участнику блокируется возможность ввода чеков - на 12
                    часов.<br>
                    В случае попытки зарегистрировать на сайте 5 (пять) некорректных чеков подряд третий раз в течение
                    акции, участнику блокируется возможность ввода чеков - на 24 часа.<br>
                    В случае попытки зарегистрировать на сайте 5 (пять) некорректных чеков подряд
                    четвертый раз в течение акции, участнику блокируется возможность ввода чеков до конца акции.<br>
                  </div>
                </div>
              </li>
              <li class="faq__item">
                <div class="faq__question jsOpenContent">
                  Что делать, если возникли вопросы, ответов на которые нет в этом F.A.Q.?
                </div>
                <div class="faq__answer jsContent">
                  <div class="faq__answer-text">
                    Сначала внимательно прочитайте правила акции и данный f.a.q. В случае, если вы не нашли ответ на
                    свой вопрос, обратитесь
                    в службу технической поддержки, заполнив форму обратной связи. Ответ поступит в
                    течение 24 часов. Если запрос приходится на выходной день, ответ поступит в ближайший рабочий
                    день.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden">
      <div class="popup" id="faqSubmit">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">Спасибо, мы получили Ваш вопрос. Ответ поступит в течение 24
            часов. </p>
          <p class="popup__text popup__text_size_limit">Если запрос приходится на выходной день, ответ поступит в
            ближайший рабочий день. </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>


    function showError(){
      $('.free-text-h').html('Обратная связь');
      $('.free-text').html('Ошибка отправки данных.');
      $('#freeModal').arcticmodal(favSyr.popup.options);
    }

    document.addEventListener('feedback_error', function (e) {
      showError()
    }, false);
    function ValidateSize(file) {
      var FileSize = file.files[ 0 ].size / 1024 / 1024; // in MB
      if (FileSize > 3) {
        $('.free-text-h').html('Обратная связь');
        $('.free-text').html('Превышен допустимый размер файла в 3 Мб.<br>' +
          ' Попробуйте загрузить файл другого размера.');
        $('#freeModal').arcticmodal(favSyr.popup.options);
        $(file).val(''); //for clearing with Jquery
      } else {

      }
    }

  </script>
{% endblock %}

{% block modals %}
  {{ parent() }}
{% endblock %}