{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  УЗНАЙ ВКУС НАСЛАЖДЕНИЯ И ВЫИГРЫВАЙ ПРИЗЫ!
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="about" id="resizeBlock">
      <div class="about__content">
        <div class="about__img-wrap"><img class="about__img" src="{{ asset('images/about__img.png') }}" alt="Я - сок"></div>
        <div class="about__right">
          <div class="about__title">УЗНАЙ ВКУС НАСЛАЖДЕНИЯ И ВЫИГРЫВАЙ ПРИЗЫ!</div>
          <div class="steps">
            <div class="steps__wrap">
              <div class="steps__item">
                <div class="steps__img-wrap"><img class="steps__img" src="{{ asset('images/step_1.png') }}" alt="Шаг первый"></div>
                <div class="steps__descr">
                  <div class="steps__number">1</div>
                  <div class="steps__text">
                    <div class="steps__line">Купи 2</div>
                    <div class="steps__line steps__line_small">упаковки сока</div>
                  </div>
                </div>
              </div>
              <div class="steps__item">
                <div class="steps__img-wrap"><img class="steps__img" src="{{ asset('images/step_2.png') }}" alt="Шаг первый"></div>
                <div class="steps__descr">
                  <div class="steps__number">2</div>
                  <div class="steps__text">
                    <div class="steps__line">Зарегистрируй</div>
                    <div class="steps__line steps__line_small">чек</div>
                  </div>
                </div>
              </div>
              <div class="steps__item">
                <div class="steps__img-wrap"><img class="steps__img" src="{{ asset('images/step_3.png') }}" alt="Шаг первый"></div>
                <div class="steps__descr">
                  <div class="steps__number">3</div>
                  <div class="steps__text">
                    <div class="steps__line">Участвуй</div>
                    <a class="steps__line steps__line_small steps__line_link" href="{{ path('login') }}">в розыгрыше призов </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="about__button-wrap">
            <button class="button button_big-rem button_regcheck"><span class="button__text">Зарегистрировать чек</span></button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}