{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}{% trans %}Личный кабинет{% endtrans %}{% endblock %}

{% set user = app.user.participant %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content main__content_with_full">
      <h1 class="title">Личный кабинет</h1>
      <div class="profile">
        <div class="profile__content">
          <div class="profile__left">
            <div class="profile__data">
              <div class="profile__name">{{ app.user.participant.firstname }} <br>{% if app.user.participant.secname is defined %} {{ app.user.participant.secname }} {% endif %} {{ app.user.participant.lastname }}</div>
              <div class="profile__city">{{ app.user.participant.region }}, {{ app.user.participant.city }}</div>
              <div class="profile__email">{{ app.user.participant.email }}</div>
            </div>
            <div class="profile__edit"><a class="profile__link-edit" href="#!">Изменить</a></div>
          </div>
          <div class="profile__right">
            <div class="profile__button"><a class="button button_big button_regcheck" href="#!"> <span class="button__text">Зарегистрировать чек</span></a></div>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="table__head">
          <div class="table__box">
            <div class="table__head-text">Номер чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Дата загрузки</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Фото чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Статус чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Результат																												</div>
          </div>
        </div>
        <div class="table__content" id="jsScrollContent">
          <div class="table__list table__list_items_5">
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Отсутствует штрих код</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="images/prize_icon_1.png" alt=""><a class="table__link jsMoneyMobile" href="#!">Получить</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">4232 4776 324432 43246</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный											</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">33434 56565 55 656534</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="images/prize_icon_2.png" alt=""></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный										</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">33434 56565 55 656534</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="images/prize_icon_3.png" alt=""></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="images/prize_icon_1.png" alt=""><a class="table__link jsMoneyMobile" href="#!">Получить									</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="images/prize_icon_1.png" alt=""><a class="table__link jsMoneyMobile" href="#!">Получить									</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="images/check-photo.png" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block modals %}
  {{ parent() }}

{% endblock %}