{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}Личный кабинет{% endblock %}

{% set user = participant %}
{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-empty">
      <h1 class="static-title up">Личный кабинет</h1>
      <div class="personal-info-wrap">
        <div class="row">
          <div class="col-sm-5">
            <div class="personal-info-block">
              <div class="personal-name up">
                {% set user = app.user.participant %}
                {{ user.getfirstname }} <br>
                {{ user.getlastname }} {{ user.getsecname }}
              </div>
              <div class="address up">
                {{ banned_listener.getRegion(user.getregionguid) }}, {{ banned_listener.getCity(user.getcityguid) }}
              </div>
              <div class="persoanl-link">
                <a href="" data-toggle="modal" data-target="#regModal">Изменить</a>
              </div>
            </div>
          </div>
          <div class="col-sm-19 text-center">
            <div class="code-upload-wrap">
              <a href="" class="button-purple">Зарегистрировать код</a>
            </div>
          </div>
        </div>
      </div>
      {% set first = 0 %}
      {% for i,week in weeks|reverse %}
        {% set first = first + 1 %}
        <div class="week-item up">
          <div class="week-title js-week-title">
            <div class="week-toggler">-</div>
            <div class="row">
              <div class="col-xs-12">{% if first == 1 %}Текущая неделя{% else %}{{ i }}{% endif %}</div>
              <div
                  class="col-xs-12 text-right">{% if first != 1 %}({{ week['start']|date('d.m.Y') }} - {{ week['end']|date('d.m.Y') }}){% endif %}</div>
            </div>
          </div>
          <div class="week-toggle-block js-toggle-table" {% if first != 1 %}style="display: none;"{% endif %}>
            <div class="js-week-table-scroll">
              <div class="week-table">
                <div class="week-row">
                  <div class="week-cell">Номер кода</div>
                  <div class="week-cell">Дата загрузки</div>
                  <div class="week-cell">Статус кода</div>
                  <div class="week-cell">Результат</div>
                  <div class="week-cell">Партнер</div>
                </div>
                {% for promocode in promocodes[i]|reverse %}
                <div class="week-row">
                  <div class="week-cell">1234 5687 3454 5987</div>
                  <div class="week-cell">05.02.2018</div>
                  <div class="week-cell">Принят</div>
                  <div class="week-cell">
                    <span>Сертификат <br> 3000 Р</span>
                  </div>
                  <div class="week-cell">
                    <img src="{{ asset('images/yr.png') }}" alt="">
                    <a href="" class='table-get-link js-get-code'>
                      Получить
                      <span class='js-code'>2c9WERL6</span>
                    </a>
                  </div>
                </div>
                {% else %}
                <div class="week-row">
                  <div style="display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    margin-top: 15px;">Нет промокодов</div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    // Список регионов теперь динамический
    window.regions = {{ banned_listener.regions()|json_encode|raw }};
    window.cities = {{ banned_listener.cities(user.getregionguid())|json_encode|raw }};
    window.reg_errors = {};
  </script>
{% endblock %}

{% block modals %}
  {{ parent() }}
  <!-- Modal -->
  <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Профиль
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-reg-form">
            <form action="" method="POST">
              <div class="row">
                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="">Фамилия *</label>
                    <input type="text" placeholder="Фамилия">
                  </div>
                  <div class="form-block">
                    <label for="">Имя *</label>
                    <input type="text" placeholder="Имя">
                  </div>
                  <div class="form-block">
                    <label for="">Дата рождения *</label>
                    <input type="text" placeholder="18.08.1988" class="js-date">
                  </div>
                  <div class="form-block">
                    <label for="">Email *</label>
                    <input type="email" placeholder="email334@email.com">
                  </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="">Регион *</label>
                    <input type="text" placeholder="Регион">
                  </div>
                  <div class="form-block">
                    <label for="">Город *</label>
                    <input type="text" placeholder="Город">
                  </div>
                  <div class="form-block">
                    <label for="">Пол *</label>
                    <div class="checkbox-wrap">
                      <input id="izmaleY" type="radio" name="registration_form[ismale]" value="Y">
                      <span></span>
                    </div>
                    <div class="checkbox-title">М</div>
                    <div class="checkbox-wrap">
                      <input id="izmaleN" type="radio" name="registration_form[ismale]" value="N">
                      <span></span>
                    </div>
                    <div class="checkbox-title">Ж</div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="">Пароль *</label>
                    <input type="password" placeholder="Пароль">
                  </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="">Повторите пароль *</label>
                    <input type="password" placeholder="Повторите пароль">
                  </div>
                </div>
              </div>
              <div class="form-btn text-center">
                <button class="gradient-btn xs-button">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
