{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}{% trans %}Личный кабинет{% endtrans %}{% endblock %}

{% set user = app.user.participant %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content main__content_with_full">
      <h1 class="title">Личный кабинет</h1>
      <div class="profile">
        <div class="profile__content">
          <div class="profile__left">
            <div class="profile__data">
              <div class="profile__name">{{ app.user.participant.firstname }} <br>{% if app.user.participant.secname is defined %} {{ app.user.participant.secname }} {% endif %} {{ app.user.participant.lastname }}</div>
              <div class="profile__city">{{ app.user.participant.region }}, {{ app.user.participant.city }}</div>
              <div class="profile__email">{{ app.user.participant.email }}</div>
            </div>
            <div class="profile__edit"><a class="profile__link-edit" href="#!">Изменить</a></div>
          </div>
          <div class="profile__right">
            <div class="profile__button"><a class="button button_big button_regcheck" href="#!"> <span class="button__text">Зарегистрировать чек</span></a></div>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="table__head">
          <div class="table__box">
            <div class="table__head-text">Номер чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Дата загрузки</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Фото чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Статус чека</div>
          </div>
          <div class="table__box">
            <div class="table__head-text">Результат																												</div>
          </div>
        </div>
        <div class="table__content" id="jsScrollContent">
          <div class="table__list table__list_items_5">
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Отсутствует штрих код</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">
                    <a class="table__link jsMoneyMobile" href="#!">Получить</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">4232 4776 324432 43246</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный											</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">33434 56565 55 656534</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_2.png') }}" alt=""></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный										</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">33434 56565 55 656534</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt=""></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt=""><a class="table__link jsMoneyMobile" href="#!">Получить									</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 4545 7575 4345</div>
                </div>
                <div class="table__box">
                  <div class="table__date">06.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Принят</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt=""><a class="table__link jsMoneyMobile" href="#!">Получить									</a></div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный	</div>
                </div>
              </div>
            </div>
            <div class="table__item">
              <div class="table__item-content table__item-content_font_small">
                <div class="table__box">
                  <div class="table__text">1234 5678 12a34 5678</div>
                </div>
                <div class="table__box">
                  <div class="table__date">12.09.2017										</div>
                </div>
                <div class="table__box">
                  <div class="table__check"><img class="table__img" src="{{ asset('images/check-photo.png') }}" alt=""></div>
                </div>
                <div class="table__box">
                  <div class="table__text">
                    <div class="table__status">Не принят</div>
                    <div class="table__status-reason">Дубль</div>
                  </div>
                </div>
                <div class="table__box">
                  <div class="table__text">Не выйгрышный</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="hidden">
    <div class="popup" id="editProfile">
      <div class="popup__close arcticmodal-close"></div>
      <h2 class="popup__title">Профиль</h2>
      <div class="popup__wrap popup__wrap_width_big">
        <form class="form" action="#">
          <div class="form__row">
            <div class="form__box form__box_width_half">
              <label class="form__label" for="surname">Фамилия*</label>
              <input class="form__input" type="text" id="surname" placeholder="Фамилия" value="{{ user.lastname }}">
            </div>
            <div class="form__box form__box_width_half">
              <label class="form__label" for="name">Имя*</label>
              <input class="form__input" type="text" id="name" placeholder="Имя"  value="{{ user.firstname }}">
            </div>
          </div>
          <div class="form__row">
            <div class="form__box form__box_width_half">
              <label class="form__label" for="patronymic">Отчество</label>
              <input class="form__input" type="text" id="patronymic" placeholder="Отчество"  value="{% if user.secname is defined %} {{ user.secname }} {% endif %}">
            </div>
            <div class="form__box form__box_width_half">
              <label class="form__label" for="patronymic">Дата рождения*</label>
              <input class="form__input form__input_type_date" type="text" placeholder="01.01.1990"  value="{% if user.birthdate is defined %} {{ user.birthdate }} {% endif %}">
            </div>
          </div>
          <div class="form__row">
            <div class="form__box form__box_width_half">
              <label class="form__label" for="email">Email*</label>
              <input class="form__input" value="{{ user.email }}" type="email" id="email" placeholder="email@email.com" >
            </div>
            <div class="form__box form__box_width_half">
              <label class="form__label" for="email">Пол*</label>
              <div class="form__checkbox__container form__checkbox__container_dib">
                <input class="form__checkbox" type="radio" checked value="male" name="male" id="male">
                <label class="form__checkbox-text form__checkbox-text_type_male" for="male">М</label>
              </div>
              <div class="form__checkbox__container form__checkbox__container_dib">
                <input class="form__checkbox" type="radio" value="female" name="male" id="female">
                <label class="form__checkbox-text form__checkbox-text_type_male" for="female">Ж										</label>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__box form__box_width_half">
              <label class="form__label" for="email">Регион*</label>
              <select class="form__select">
                <option>Московский</option>
                <option>Ленинградский</option>
                <option>Калужский</option>
              </select>
            </div>
            <div class="form__box form__box_width_half">
              <label class="form__label" for="email">Город*</label>
              <select class="form__select">
                <option>Москва</option>
                <option>Балашиха</option>
                <option>Город						</option>
              </select>
            </div>
          </div>
          <div class="form__row">
            <div class="form__box form__box_width_half">
              <label class="form__label" for="password">Пароль</label>
              <input class="form__input" type="password" id="password" placeholder="Пароль">
            </div>
            <div class="form__box form__box_width_half">
              <label class="form__label" for="repassword">Повторите пароль</label>
              <input class="form__input" type="password" id="repassword" placeholder="Повторите пароль">
            </div>
          </div>
          <div class="form__row">
            <div class="form__box form__box_button">
              <button class="button" type="submit"><span class="button__text">Отправить</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="hidden">
      <div class="popup" id="blocked">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Регистрация чека</h2>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">К сожалению, Вы были заблокированы на 24 часа.</p>
          <p class="popup__text popup__text_size_limit">С возможными причинами блокировки Вы можете ознакомиться в разделе FAQ. </p>
        </div>
      </div>
    </div>
    <div class="hidden">
      <div class="popup" id="checkRegistr">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Регистрация чека</h2>
        <div class="popup__wrap popup__wrap_size_small">
          <p class="popup__text">Приложите скан/фото чека <br> (jpeg, gif, png, размер не более 1,5 Мб)</p>
          <div class="popup__form-wrap">
            <form class="form" action="#">
              <div class="form__row">
                <div id="revizor"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden">
      <div class="popup" id="mobileMoney">
        <div class="popup__close arcticmodal-close">X</div>
        <h2 class="popup__title">Поздравляем!</h2>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">Вы выиграли Ежедневный приз – 50 р на телефон!</p>
          <p class="popup__text popup__text_size_limit">Пожалуйста, укажите номер телефона, на счет которого мы перечислим приз:</p>
          <div class="popup__form-wrap">
            <form class="form" action="#">
              <div class="form__row">
                <div class="form__box">
                  <input class="form__input form__input_type_phone" type="text" id="phone">
                </div>
              </div>
              <div class="form__row">
                <div class="form__box form__box_button">
                  <button class="button" type="submit"><span class="button__text">Отправить                                    </span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden">
      <div class="popup" id="checkRegistrFale">
        <div class="popup__close arcticmodal-close">X</div>
        <div class="popup__wrap">
          <p class="popup__text popup__text_size_limit">Неверный формат или размер скана/фото чека.</p>
          <div class="popup__button-wrap">
            <button class="button button_regcheck" type="submit"><span class="button__text">Повторить попытку</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}

{% endblock %}