{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}Личный кабинет{% endblock %}

{% set user = app.user.participant %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    select:disabled {
      background: #495528 !important;
      border-color: #495528 !important;
    }

    .checkbox-wrap.disabled {
      background: #495528 !important;
      border-color: #495528 !important;
    }
  </style>
{% endblock %}

{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-empty">
      <h1 class="static-title up">Личный кабинет</h1>
      <div class="personal-info-wrap">
        <div class="row">
          <div class="col-lg-5 col-sm-7">
            <div class="personal-info-block">
              <div class="personal-name up">
                {{ user.getfirstname }} <br>
                {{ user.getlastname }} {{ user.getsecname }}
              </div>
              <div class="address up">
                {{ banned_listener.getRegion(user.getregionguid) }}, {{ banned_listener.getCity(user.getcityguid) }}
              </div>
              <div class="persoanl-link">
                <a href="" data-toggle="modal" data-target="#regModal">Изменить</a>
              </div>
            </div>
          </div>
          <div class="col-lg-19 col-sm-17 text-center">
            <div class="code-upload-wrap">
              <a href="" class="button-purple" data-toggle="modal" data-target="{{ action }}">Зарегистрировать код</a>
            </div>
          </div>
        </div>
      </div>
      {% set first = 0 %}
      {% for i,week in weeks|reverse %}
        {% set first = first + 1 %}
        <div class="week-item up">
          <div class="week-title js-week-title">
            <div class="week-toggler">{% if first == 1 %}-{% else %}+{% endif %}</div>
            <div class="row">
              <div
                  class="col-sm-12 {% if first == 1 %}week-item-current{% endif %}">{% if first == 1 %}Текущая неделя{% else %}{{ i }}{% endif %}</div>
              <div class="col-sm-12 text-right">
                {% if first != 1 %}({{ week['start']|date('d.m.Y') }} - {{ week['end']|date('d.m.Y') }}){% endif %}
              </div>
            </div>
          </div>
          <div class="week-toggle-block js-toggle-table" {% if first != 1 %}style="display: none;"{% endif %}>
            <div class="js-week-table-scrolll">
              <div class="week-table">
                <div class="week-row">
                  <div class="week-cell hidden-xs">Номер кода</div>
                  <div class="week-cell hidden-xs">Дата загрузки</div>
                  <div class="week-cell">Гарантированный приз</div>
                  <div class="week-cell">Еженедельный приз</div>
                </div>
                {% for promocode in promocodes[i]|reverse %}
                  <div class="week-row">
                    <div class="week-cell">{{ promocode.code }}</div>
                    <div class="week-cell">{{ promocode.date|date('d.m.Y') }}</div>
                    <div class="week-cell">
                      {% if promocode.prizes['guaranteed']['slug'] != '' %}
                        {#<span>{{ promocode.prizes['guaranteed']['slug']|prize }}</span><br>#}
                        <img src="{{ promocode.prizes['guaranteed']['url'] }}"
                             alt="{{ promocode.prizes['guaranteed']['slug'] }}">
                        <a href="" class='table-get-link js-get-code'
                           data-slug="{{ promocode.prizes['guaranteed']['slug'] }}">
                          Получить
                          <span class='js-code'>{{ promocode.prizes['guaranteed']['code'] }}</span>
                        </a>
                      {% else %}
                        --
                      {% endif %}
                    </div>
                    <div class="week-cell">
                      {% if promocode.prizes['weekly']['slug'] != '' %}
                        {#<span>{{ promocode.prizes['weekly']['slug']|prize }}</span><br>#}
                        <img src="{{ promocode.prizes['weekly']['url'] }}"
                             alt="{{ promocode.prizes['weekly']['slug'] }}">
                      {% else %}
                        --
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <div class="week-row">
                    <div style="display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    margin-top: 15px;">Нет промокодов
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block modals %}
  {{ parent() }}
  <!-- Modal -->
  <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Профиль
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-reg-form">
            <form action="{{ path('registration_u_json_page') }}" method="POST" id="registration_u_json">
              <div class="row">
                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="">Фамилия *</label>
                    <input id="lastname" placeholder="Фамилия" name="registration_form[lastname]" type="text"
                           required=""
                           value="{{ user.getlastname }}"
                           onkeyup="Ru(this);" {% if (user.getlastname!='') %} disabled {% endif %}
                           data-toggle="tooltip" title="Только русские буквы!">
                  </div>
                  <div class="form-block">
                    <label for="">Имя *</label>
                    <input id="firstname" placeholder="Имя" name="registration_form[firstname]" type="text" required=""
                           value="{{ user.getfirstname }}"
                           onkeyup="Ru(this);" {% if (user.getfirstname!='') %} disabled {% endif %}
                           data-toggle="tooltip" title="Только русские буквы!">
                  </div>
                  <div class="form-block">
                    <label for="">Дата рождения *</label>
                    <input id="birthdate" name="registration_form[birthdate]" type="text"
                           class='js-date' required="" value="{{ user.getbirthdate }}">
                  </div>
                  <div class="form-block">
                    <label for="">Email *</label>
                    <input id="email" name="registration_form[email]" type="email" required=""
                           value="{{ user.getemail }}" {% if (user.getemail!='') %} disabled {% endif %}>
                  </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-11">
                  <div class="form-block">
                    <label for="registration_form_regionguid">Регион *</label>
                    <select id="registration_form_regionguid" name="registration_form[regionguid]"
                            required=""></select>
                    <input type="hidden" name="registration_form[region]" id="registration_form_region"
                           value="{{ user.getregion }}">
                  </div>
                  <div class="form-block">
                    <label for="registration_form_cityguid">Город *</label>
                    <select id="registration_form_cityguid" name="registration_form[cityguid]"
                            required=""></select>
                    <input type="hidden" name="registration_form[city]" id="registration_form_city"
                           value="{{ user.getcity }}">
                  </div>
                  <div class="form-block">
                    <label for="">Пол *</label>
                    <div class="checkbox-wrap">
                      <input id="registration_form_ismale_y" type="radio" name="registration_form[ismale]" value="Y"
                             {% if user.getismale=='Y' %}checked{% endif %}>
                      <span></span>
                    </div>
                    <div class="checkbox-title">М</div>
                    <div class="checkbox-wrap">
                      <input id="registration_form_ismale_n" type="radio" name="registration_form[ismale]" value="N"
                             {% if user.getismale=='N' %}checked{% endif %} >
                      <span></span>
                    </div>
                    <div class="checkbox-title">Ж</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
              <div class="col-xs-11">
                <span class="update-profie-fuel"></span>
              </div>
              <div class="form-btn text-center">
                <button class="gradient-btn xs-button save">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    // Список регионов теперь динамический
    window.regions = {{ banned_listener.regions()|json_encode|raw }};
    window.cities = {{ banned_listener.cities(user.getregionguid())|json_encode|raw }};
    window.reg_errors = {};

  </script>
  <script>
    $(function () {
      regions = {{ banned_listener.regions()|json_encode|raw }};
      city_input = $("input#registration_form_city");
      region_input = $("input#registration_form_region");
      select = $("select#registration_form_regionguid");
      selectC = $("select#registration_form_cityguid");

      select.html('');
      select.append('<option value="">Выберите регион</option>');
      for (var key in regions) {
        if (regions.hasOwnProperty(key)) {
          select.append('<option value="' + regions[ key ] + '">' + key + '</option>');
        }
      }
      if ('{{ user.getregionguid() }}' !== '') {
        select.val('{{ user.getregionguid() }}');
        selectC.html('');
        selectC.append('<option value="">Выберите город</option>');
        for (var key in cities) {
          if (cities.hasOwnProperty(key)) {
            selectC.append('<option value="' + cities[ key ] + '">' + key + '</option>');
          }
        }
        if ('{{ user.getcityguid() }}' !== '') {
          selectC.val('{{ user.getcityguid() }}');
        } else {
          selectC.removeAttr('disabled', 'disabled');
        }
      } else {
        select.removeAttr('disabled', 'disabled');
      }
      select.on('change', function () {
        region_input.val(select.val());
        selectC.html('');
        selectC.attr('disabled', 'disabled');
        selectC.append('<option value="">Зарузка...</option>');
        var data = { region: select.val() };
        loadCities(data);
      });
      selectC.on('change', function () {
        city_input.val(selectC.val());
      });

      function loadCities(data) {
        $.ajax({
          url: '{{ path('cities_json') }}',
          type: 'post',
          data: data,
          success: function (json) {
            var s;
            selectC.html('');
            selectC.append('<option value="">Выберите город</option>');
            for (var key in json) {
              if (json.hasOwnProperty(key)) {
                selectC.append('<option value="' + json[ key ] + '">' + key + '</option>');
              }
            }
            selectC.removeAttr('disabled', 'disabled');
          },
        });
      }
    });
  </script>
  <script>
    $(function () {
      var form = $('#registration_u_json');
      $('#registration_u_json').ajaxForm({
        beforeSubmit: function (formData, jqForm, options) {
          $('.save').prop('disabled', true);
          return true;
        },
        success: function (json, statusText, xhr, $form) {
          $('.save').prop('disabled', false);
          if (json.status === 200) {
            $('#regModal').modal('hide');
            window.location.reload(true);
          } else {
            $('span.update-profie-fuel').text(json.errors.join(", "));
          }
        },
        url: '{{ path('registration_u_json_page') }}',
        type: 'post',
        dataType: 'json',
        clearForm: false,
        resetForm: false,
      });
    });
  </script>
  <script>
    $(function () {
      $('.js-get-code').click(function () {
        eA('PrizeShow', 'ClickPrize');
        switch ($(this).data('slug')) {
          case 'code_lenina':
            eL('PrizeShow', 'ClickPrize', 'PrizeLenaLeninaDaily');
            break;
          case 'code_lamoda':
            eL('PrizeShow', 'ClickPrize', 'PrizeLamodaDaily');
            break;
          case 'code_yves_rocher':
            eL('PrizeShow', 'ClickPrize', 'PrizeRosheDaily');
            break;
        }
        gtag('event', 'conversion', {
          'allow_custom_scripts': true,
          'send_to': 'DC-6274508/ya_ju0/ya_ju00-+standard',
        });
      });
    });
  </script>
{% endblock %}