{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}Личный кабинет{% endblock %}

{% set user = participant %}
{% block body %}
  <main class="main" id="main">
    Личный кабинет
  </main>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    // Список регионов теперь динамический
    window.regions = {{ banned_listener.regions()|json_encode|raw }};
    window.cities = {{ banned_listener.cities(user.getregionguid())|json_encode|raw }};
    window.reg_errors = {};
  </script>
{% endblock %}

{% block modals %}
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
