{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}
  {% if app.user %}
    {% trans %}Registration auth title{% endtrans %}
  {% else %}
    {% trans %}Registration title{% endtrans %}
  {% endif %}
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content">
      <h1 class="title">Регистрация</h1>

      {% form_theme form 'AppBundle:Forms:form_div_layout.html.twig' %}
      {{ form_start(form) }}

      <div class="form__wrapper" style="padding-bottom: 20px;">
        <div class="form__row">
          {% for error in errors %}
            <p class="bg-danger" style="">{{ error|trans }}</p>
          {% endfor %}
        </div>
        <div class="form__row">
          {{ form_row(form.lastname) }}
          {{ form_row(form.firstname) }}
        </div>
        <div class="form__row">
          {{ form_row(form.secname) }}
          {{ form_row(form.birthdate) }}
        </div>
        <div class="form__row">
          {{ form_row(form.email) }}
          {{ form_row(form.ismale) }}
        </div>
        <div class="form__row">
          {{ form_row(form.regionguid) }}
          {{ form_row(form.cityguid) }}
        </div>
        <div class="form__row">
          {{ form_row(form.password) }}
          {{ form_row(form.confirm_password) }}
        </div>
        <div class="form__row">
          <div class="form__box form__box_width_half">
            <div class="form__checkbox__container">
              {{ form_widget(form.isageagreed) }}
              {#<input class="form__checkbox" type="checkbox" id="che2ck1">#}
              <label class="form__checkbox-text" for="registration_form_isageagreed">Я подтверждаю, что мне
                исполнилось 18 лет на момент участия в Акции</label>
            </div>
            <div class="form__checkbox__container">
              {{ form_widget(form.ispdagreed) }}
              {#<input class="form__checkbox" type="checkbox" id="check2" checked>#}
              <label class="form__checkbox-text" for="registration_form_ispdagreed">Я согласен с правилами акции иa
                поьзовательским
                соглашением, а так же на обработку моих данных</label>
            </div>
          </div>
          <div class="form__box form__box_width_half">
            <div class="g-recaptcha" data-sitekey="6LfaATIUAAAAABzJ3la39y6LCkmOAYOdMeh0DLGK"></div>
          </div>
        </div>
        <div class="form__row">
          {#{{ form_row(form.save) }}#}
          <div class="form__box form__box_button">
            <button class="button" type="submit"><span class="button__text">Зарегистрироваться</span></button>
          </div>
        </div>
        <div class="form__row">
          {{ form_errors(form) }}

        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </main>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <style>

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #116401 !important;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      color: #116401 !important;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      color: #116401 !important;
    }
    input:-moz-placeholder { /* Firefox 18- */
      color: #116401 !important;
    }
    input::placeholder {
      color: #116401 !important;
    }
    .bg-danger {
      padding: 15px;
      display: block;
      margin-bottom: 5px;
      font-family: 'Opium';
      font-size: 18px;
      color: red;
    }
  </style>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var formPrefix = 'registration_form';
    $(function () {
      $('#registration_form_ismale_0').attr('name','registration_form[ismale]');
      $('#registration_form_ismale_1').attr('name','registration_form[ismale]');
    })
  </script>
  <script type="text/javascript" src="{{ asset('js/geo_fields.js') }}"></script>
{% endblock %}