{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}
  Регистрация
{% endblock %}
{% form_theme form 'AppBundle:Forms:form_div_layout.html.twig' %}
{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-reg">
      <h1 class="static-title up">Регистрация</h1>
      <div class="reg-form">
        {{ form_start(form) }}
        <div class="row">
          <div class="col-sm-12">
            <div class="form-block">
              {% for error in errors %}
                <label style="margin-bottom: 15px; padding: 15px;">{{ error|trans }}</label>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.email) }}

          </div>
          <div class="col-sm-12">
            {{ form_row(form.regionguid) }}
            {{ form_row(form.cityguid) }}
            {{ form_row(form.ismale) }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ form_row(form.password) }}
          </div>
          <div class="col-sm-12">
            {{ form_row(form.confirm_password) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11">
          <div class="form-block">
            {{ form_row(form.isageagreed) }}
            {{ form_row(form.ispdagreed) }}
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-12">
          {{ form_row(form.recaptcha) }}
        </div>
      </div>
      <div class="form-btn text-center">
        <button class='gradient-btn'>Зарегистрироваться</button>
      </div>
      {{ form_end(form) }}
    </div>
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block modals %}
  {{ parent() }}
  <!-- Modal -->
  <div class="modal fade" id="age" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            К сожалению, согласно правилам,<br>
            принять участие в Акции могут только <br>
            лица, достигшие 18 лет.
          </div>
          <div class="form-btn text-center">
            <button class="gradient-btn xxs-button" data-dismiss="modal">ОК</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Уважаемый участник!
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            <p>
              Введенные Вами данные уже <br> существуют.
            </p>
            <p>
              Если Вы участвовали в других акциях <br> группы Компании <a href="">PepsiCo Россия</a>,
              то <br> можете использовать прежний логин и <br>пароль для <a href="">авторизации</a> на сайт. <br>
              Если необходимо восстановить пароль, <br> воспользуйтесь формой <br> 
              <a href="">восстановления пароля</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          <h4 class="modal-title up" id="myModalLabel">
            Уважаемый участник!
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-static">
            Вы успешно зарегистрировались. <br>
            Для подтверждения адреса <br>
            электронной почты на указанный Вами <br>
            e-mail отправлено письмо.
            <p class="modal-xs-text">
              *Если письмо не пришло – проверьте папку «Спам» <br> или обратитесь в <a href="">обратную связь</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(function () {
      regions = {{ banned_listener.regions()|json_encode|raw }};
      select = $("select#registration_form_regionguid");
      selectC = $("select#registration_form_cityguid");

      select.on('change', function () {
        selectC.html('');
        selectC.attr('disabled', 'disabled');
        selectC.append('<option value="">Зарузка...</option>');
        var data = { region: select.val() };
        loadCities(data);
      });

      function loadCities(data) {
        $.ajax({
          url: '{{ path('cities_json') }}',
          type: 'post',
          data: data,
          success: function (json) {
            var s;
            selectC.html('');
            selectC.append('<option value="">Выберите город</option>');
            for (var key in json) {
              if (json.hasOwnProperty(key)) {
                selectC.append('<option value="' + json[ key ] + '">' + key + '</option>');
              }
            }
            selectC.removeAttr('disabled', 'disabled');
          },
        });
      }
    });


  </script>
{% endblock %}