{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}
  {% if app.user %}
    {% trans %}Registration auth title{% endtrans %}
  {% else %}
    {% trans %}Registration title{% endtrans %}
  {% endif %}
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content">
      <h1 class="title">Регистрация</h1>

      {% form_theme form 'AppBundle:Forms:form_div_layout.html.twig' %}
      {{ form_start(form) }}

      <div class="form__wrapper" style="padding-bottom: 20px;">
        <div class="form__row">
          <p class="bg-danger reg-helper"></p>
          {% for error in errors %}
            <p class="bg-danger" style="">{{ error|trans }}</p>
          {% endfor %}
        </div>
        <div class="form__row">
          {{ form_row(form.lastname) }}
          {{ form_row(form.firstname) }}
        </div>
        <div class="form__row">
          {{ form_row(form.secname) }}
          {{ form_row(form.birthdate) }}
        </div>
        <div class="form__row">
          {{ form_row(form.email) }}
          {{ form_row(form.ismale) }}
        </div>
        <div class="form__row">
          {{ form_row(form.regionguid) }}
          {{ form_row(form.cityguid) }}
        </div>
        <div class="form__row">
          {{ form_row(form.password) }}
          {{ form_row(form.confirm_password) }}
        </div>
        <div class="form__row">
          <div class="form__box form__box_width_half">
            <div class="form__checkbox__container">
              {{ form_widget(form.isageagreed) }}
              {#<input class="form__checkbox" type="checkbox" id="che2ck1">#}
              <label class="form__checkbox-text" for="registration_form_isageagreed">Я подтверждаю, что мне
                исполнилось 18 лет на момент участия в Акции</label>
            </div>
            <div class="form__checkbox__container">
              {{ form_widget(form.ispdagreed) }}
              {#<input class="form__checkbox" type="checkbox" id="check2" checked>#}
              <label class="form__checkbox-text" for="registration_form_ispdagreed">
                  <span>Я согласен с <a href="https://promo.ya-juice.ru/files/Правила%20акции.pdf" target="_blank" style="
                        color: #fcef9c;
                    ">правилами акции</a> и
                                    <a href="https://promo.ya-juice.ru/files/Пользовательское%20соглашение.pdf" target="_blank" style="
                        color: #fcef9c;
                    ">пользовательским
                                        соглашением</a>, а так же на обработку моих данных</span>
              </label>
            </div>
          </div>
          <div class="form__box form__box_width_half">
            <div class="g-recaptcha" data-sitekey="6LfaATIUAAAAABzJ3la39y6LCkmOAYOdMeh0DLGK"></div>
          </div>
        </div>
        <div class="form__row">
          {#{{ form_row(form.save) }}#}
          <div class="form__box form__box_button">
            <button class="button" type="submit"><span class="button__text">Зарегистрироваться</span></button>
          </div>
        </div>
        <div class="form__row">
          {{ form_errors(form) }}

        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </main>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <style>

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #116401 !important;
    }

    input::-moz-placeholder { /* Firefox 19+ */
      color: #116401 !important;
    }

    input:-ms-input-placeholder { /* IE 10+ */
      color: #116401 !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: #116401 !important;
    }

    input::placeholder {
      color: #116401 !important;
    }

    .bg-danger {
      padding: 15px;
      display: block;
      margin-bottom: 5px;
      font-family: 'Opium';
      font-size: 18px;
      color: red;
    }
  </style>
{% endblock %}
{% block modals %}
  {{ parent() }}
  <div class="popup" id="agePP">
    <div class="popup__close arcticmodal-close">X</div>
    <div class="popup__wrap">
      <div class="popup__form-wrap">
        <div class="form__row">
          <label class="form__label" style="text-align: center; font-size: 15px; margin-bottom: 1em">Согласно правилам, принять участие в Акции могут <br> только лица, достигшие 18 лет.</label>
        </div>
        <div class="form__row">
          <div class="form__box form__box_button">
            <button class="button arcticmodal-close" type="submit"><span class="button__text">ОК</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var reg_errors = {};
    var reg_helper = $('.reg-helper');
    var show_reg_errors = function () {
      reg_helper.html("");
      for (var key in reg_errors) {
        if (reg_errors.hasOwnProperty(key)) {
          reg_helper.append("<span>" + reg_errors[ key ] + "</span><br/>");
        }
      }
    };
    var formPrefix = 'registration_form';
    $(function () {
      $('#registration_form_ismale_0').attr('name', 'registration_form[ismale]');
      $('#registration_form_ismale_1').attr('name', 'registration_form[ismale]');
      $('form[name=registration_form]').submit(function () {
        var valid = true;
        if ($('#registration_form_birthdate').val().length !== 10 || moment($('#registration_form_birthdate').val(), 'DD.MM.YYYY').toDate() === 'Invalid Date') {
          reg_errors[ 'registration_form_birthdate' ] = "Введите дату рождения";
          valid = false;
        } else {
          delete reg_errors[ 'registration_form_birthdate' ];
          if (_calculateAge(moment($('#registration_form_birthdate').val(), 'DD.MM.YYYY').toDate()) < 18) {
            reg_errors[ 'registration_form_birthdate' ] = "Возраст менее 18 лет";
            valid = false;
          } else {
            delete reg_errors[ 'registration_form_birthdate' ];
          }
        }
        show_reg_errors();
        return valid;
      });
      $('.form__input_type_date').datetimepicker({
        lang: "ru",
        timepicker: false,
        format: 'd.m.Y',
        maxDate: '+1970/01/01',
        minDate:'1937/01/01',
        yearStart : '1937',
        yearEnd : '2017',
        onChangeDateTime: validateChangeDateTime
      });
    });

    function validateChangeDateTime(a,b,c,d) {
      if ($('#registration_form_birthdate').val().length !== 10 || moment($('#registration_form_birthdate').val(), 'DD.MM.YYYY').toDate() === 'Invalid Date') {
        reg_errors[ 'registration_form_birthdate' ] = "Введите дату рождения";
        valid = false;
      } else {
        delete reg_errors[ 'registration_form_birthdate' ];
        if (_calculateAge(moment($('#registration_form_birthdate').val(), 'DD.MM.YYYY').toDate()) < 18) {
//          reg_errors[ 'registration_form_birthdate' ] = "Возраст менее 18 лет";
          $('#registration_form_birthdate').datetimepicker('hide');
          $('#agePP').arcticmodal(favSyr.popup.options);
          valid = false;
        } else {
          delete reg_errors[ 'registration_form_birthdate' ];
        }
      }
      show_reg_errors();
    }
  </script>
  <script type="text/javascript" src="{{ asset('js/geo_fields.js') }}"></script>
{% endblock %}