{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  Победители
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content main__content_with_full">
      <form class="form" action="#">
        <div class="form__wrapper form__wrapper_backslash">
          <div class="form__row">
            <div class="form__box form__box_inline">
              <label class="form__label" for="fiosearch">Поиск по ФИО</label>
            </div>
            <div class="form__box form__box_inline form__box_grow_true">
              <input class="form__input form__input_height_high form__input_with_icon" type="text" id="fiosearch"><a
                  class="form__link form__link_icon form__link_icon_search" href="#!"> <span class="form__link-text">Найти</span></a>
            </div>
          </div>
        </div>
      </form>
      <div class="table">
        <div class="table__content table__content_winners" id="jsScrollContent">
          <div class="table__list">
            {% set i = 1 %}
            {% for winner in winners %}
              {% set i = i + 1 %}
              <div class="table__item" data-owner="{{ winner.promocodeParticipantId }}">
                <div class="table__item-content">
                  <div class="table__box">
                    <div class="table__name">{{ winner.promocodeParticipantFio }}</div>
                  </div>
                  <div class="table__box">
                    <div class="table__prize">
                      <img class="table__img"
                           src="{{ asset('images/prize_icon_' ~ winner.promocodeParticipantPrize ~ '.png') }}" alt="">
                    </div>
                  </div>
                  <div class="table__box">
                    <div class="table__date">{{ winner.promocodeParticipantDate }}</div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    Розыгрыши не проводились
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="table__item">
                <div class="table__item-content">
                  <div class="table__box" style="width: 100%; text-align: center">
                    &nbsp;
                  </div>
                </div>
              </div>
              {% set i=10 %}
            {% endfor %}

            {% if i < 10 %}
              {% set n = 10-i %}
              {% for i in 0..n %}
                <div class="table__item">
                  <div class="table__item-content">
                    <div class="table__box" style="width: 100%; text-align: center">
                      &nbsp;
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
  <div style="display: none">
    <div class="table__item table__item__copy">
      <div class="table__item-content">
        <div class="table__box" style="width: 100%; text-align: center">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(function () {
      var item = $('.table__item__copy');
      $('.form').submit(function () {
        return false;
      });
      $('#fiosearch').on('input', function () {
        var enteredText = $(this).val().toLowerCase();
        console.log('enteredText ' + enteredText);
        var i = 1;
        $('.table__item').each(function () {
          if ($(this).text().toLowerCase().trim() === '') {
            $(this).remove();
          } else {
            $(this).closest('.table__item').css('display', 'none');
            if (~$(this).text().toLowerCase().indexOf(enteredText)) {
              i++;
              console.log(i);
              $(this).closest('.table__item').css('display', 'block');
            } else if ($(this).text().toLowerCase().trim().length === 0) {
//            $(this).closest('.table__item').remove();
            }
          }
        });
        console.log(i);
        if (i < 10) {
          for (var j = i; j < 10; j++) {
            var t = item.clone();
            console.log('add');
            t.css('display', 'block');
            $('.table__list').append(t);
          }
        }
      });
    });
  </script>
{% endblock %}