{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  Победители
{% endblock %}

{% block body %}
  <main class="main" id="main">
    <div class="main__content main__content_with_full">
      <form class="form" action="#">
        <div class="form__wrapper form__wrapper_backslash">
          <div class="form__row">
            <div class="form__box form__box_inline">
              <label class="form__label" for="fiosearch">Поиск по ФИО</label>
            </div>
            <div class="form__box form__box_inline form__box_grow_true">
              <input class="form__input form__input_height_high form__input_with_icon" type="text" id="fiosearch"><a
                  class="form__link form__link_icon form__link_icon_search" href="#!"> <span class="form__link-text">Найти</span></a>
            </div>
          </div>
        </div>
      </form>
      <div class="table">
        <div class="table__content table__content_winners" id="jsScrollContent">
          <div class="table__list">
            <div class="table__item">
              <div class="table__item-content">
                <div class="table__box" style="width: 100%; text-align: center">
                  Розыгрыши не проводились
                </div>
              </div>
            </div>
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_2.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Иванов Иван Иванович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Иванов Иван Иванович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Иванов Иван Иванович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_2.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Иванов Иван Иванович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Иванов Иван Иванович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Петрова Анна Ивановна</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_3.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="table__item">#}
              {#<div class="table__item-content">#}
                {#<div class="table__box">#}
                  {#<div class="table__name">Сидоров Василий Петрович</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__prize"><img class="table__img" src="{{ asset('images/prize_icon_1.png') }}" alt="">#}
                  {#</div>#}
                {#</div>#}
                {#<div class="table__box">#}
                  {#<div class="table__date">12.09.2017</div>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

{% endblock %}