{% extends 'AppBundle:Default:base.html.twig' %}

{% trans_default_domain "personal" %}

{% block title %}{% trans %}Победители{% endtrans %}{% endblock %}

{% block body %}
  <div id="webix-container" style="height: 100%;"></div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('codebase/webix.css') }}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('codebase/webix.js') }}"></script>
  <script>

    window.grid = new webix.ui({
      id: 'webix-container1',
      view: "datatable",
      container: 'webix-container',
      columns: [
        { id:"fio",header:"fio", width:300},
        { id:"pdate",header:"pdate"},
        { id:"user_id",header:"user_id"},
        { id:"user_guid",header:"user_guid",width:300},
        { id:"receipt_guid",header:"receipt_guid",width:300},
        { id:"preactivated",header:"preactivated"},
        { id:"filled",header:"filled"},
        { id:"sms",header:"sms"}
      ],
//      autoConfig:true,
      url: '{{ path('win_json') }}',
      height: "500px",
    });

  </script>
{% endblock %}